[2020-01-06 14:41] pvdbosch opened #1 "versioning: in URL or in HTTP header?"
In GitLab by @wsalembi on Feb 23, 2018, 08:52

Beslissen of versienummer wordt opgenomen in URL van de API (momenteel in styleguide) versus in HTTP-header.

eHealth:
* URL: Minder REST based, doordat resource versie krijgt.
* Anderzijds is versie in header minder makkelijk in gebruik voor testen.

KSZ: voorkeur in URL
* Vrijheid om resource-structuur volledig te veranderen tussen major versies (al

[2020-01-06 14:41] pvdbosch commented on #1
In GitLab by @pvdbosch on Feb 23, 2018, 09:27

assigned to @pvdbosch

[2020-01-06 14:41] pvdbosch commented on #1
In GitLab by @pvdbosch on Mar 19, 2018, 18:08

# Versioning strategies

## Global URI versioning
Major version in the path (e.g., /api/v1/companies) or in subdomain (e.g., api-v2.foo.com/companies)
* less RESTful because URL has version and doesn’t identify uniquely the resource anymore
  * difficult to maintain hyperlinks from other APIs => if they’re updated to new version: breaking change
* fre

[2020-01-06 14:41] pvdbosch commented on #1
In GitLab by @pvdbosch on Mar 21, 2018, 09:54

Feedback Willem sent me by mail:

Bij SocSec gebeurt api versioning in de URI en maakt deel uit van het basePath vb. `"basePath": "/nssoTask/v1"`

API gateway 7.5.3 ondersteunt enkel deze mode (in 7.6 komt daar query-param based versioning bij, maar geen http header versioning)

Volgens de RESTafarians is geen versioning de beste aanpak, maar misschie

[2020-01-06 14:41] pvdbosch commented on #1
In GitLab by @pvdbosch on Apr 18, 2018, 18:01

Conclusions of last meeting were:

- Use API Evolution
- Global versioning when it is really needed to make major revisions.
- Don't include Media type versioning: it still leaves some unsolved issues and quite some cases may be solved with API Evolution.

I added this to the styleguide. Included deprecation guidelines under API evolution

[2020-01-06 14:41] pvdbosch commented on #1
In GitLab by @pvdbosch on Apr 18, 2018, 18:01

closed

[2020-01-06 14:41] pvdbosch commented on #1
In GitLab by @pvdbosch on Apr 18, 2018, 18:11

mentioned in commit b97b982a782c8e9efc92391a453124d274245303

[2020-01-06 14:41] #1 closed

[2020-01-06 14:41] pvdbosch opened #2 "modeling of collections"
In GitLab by @wsalembi on Feb 23, 2018, 08:53

Decide on modeling of collections:
* naming:
  * collection root element:  resources / items
  * total number of elements: count     / totalItems
* do we keep a mandatory title attribute?
* usage of HAL (_links)
* cursor-based (aka luke index) vs offset-based pagination
* model for both list-of-links and list-of-resources
  * relation to issue #15 'em

[2020-01-06 14:41] pvdbosch commented on #2
In GitLab by @wsalembi on Feb 23, 2018, 08:53

About naming, in industry: 'resources/total-results' is used by CloudFoundry and 'items/totalItems' by Google, Zalando and Cisco. Zalando refers to [IANA link relations](https://www.iana.org/assignments/link-relations/link-relations.xml) for their naming, but uses pluralized (items instead of item) when appropriate.

I think list-of-resource-links and

[2020-01-06 14:41] pvdbosch commented on #2
In GitLab by @wsalembi on Feb 23, 2018, 08:54

Workgroup decided to use "items" and "total" as names.
For sorted searches, query parameter 'sort=property' (ascending) or 'sort=-property' (descending) are to  be used.

The styleguide can mention both cursor-based and offset-based pagination.
For page-based pagination, the page and pageSize keywords are recommended.
For cursor-based, only 'next' URL

[2020-01-06 14:41] pvdbosch commented on #2
In GitLab by @pvdbosch on Mar 1, 2018, 16:03

mentioned in commit fa80d2ce1ce4b3babb1f5931410e7402e55c01c2

[2020-01-06 14:42] pvdbosch commented on #2
In GitLab by @pvdbosch on Mar 1, 2018, 16:07

Styleguide updated.

Replaced "previous" link by "prev", as "previous" seems to be the legacy one.
Also documented "first" and "last" links for pagination.
Explicitly specified that "pageSize" may be more than number of page items for last page.

[2020-01-06 14:42] pvdbosch commented on #2
In GitLab by @pvdbosch on Mar 1, 2018, 16:07

closed

[2020-01-06 14:42] #2 closed

[2020-01-06 14:42] pvdbosch opened #3 "controller resources vs commands"
In GitLab by @wsalembi on Feb 23, 2018, 08:54

Command patterns can be used as alternative for controller resources.
Decide whether to include both or only one of these alternatives.

Possible scenarios:
* updating a resource, not conforming to semantics of PUT/PATCH:
  use POST on resource URL or create sub-URL? e.g. `POST /bankaccounts/1234/changeOwner` vs `POST /bankaccounts/1234`
* non-standar

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @wsalembi on Feb 23, 2018, 08:54

assigned to @stephane-dereppe

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @wsalembi on Feb 23, 2018, 09:07

changed the description

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @stephane-dereppe on Mar 14, 2018, 14:51

Good resource : https://www.thoughtworks.com/insights/blog/rest-api-design-resource-modeling

* Fine grained vs Coarse grained
 * Fine grained => chatty API
 * Coarse => no enough variation for all customer / difficult to user/maintain
* Preventing migration of business logic to API consumer
 *  Fine grained => chatty
      * The business logi

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @stephane-dereppe on Mar 21, 2018, 09:28

### Controller Resouces => Intent resource (see above)

* model the intent of a user (a process), not an action
  * prefer `/ChangeOfAddress` than `/ChangeAddress`
* + avoid fined grained (chatty) API
* + user POST their intent and the API publish the state for consultation

### Command Resources

* every update on resources is done via the `/

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Mar 21, 2018, 09:52

Feedback Willem sent me by mail:

Wij ondersteunen controllers voor pure RPC calls te modeleren via POST of GET (geen side effect serverside).
In de URI staat steeds een verb als action.

`POST /alerts/245743/resend
GET /convertMoney?from=EUR&amount=45&to=USD`

Elke controller heeft een apart path in swagger file zodat we per actie zeer specifiek de i

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Apr 18, 2018, 10:53

Consensus of last meeting:
* create subresource for non-CRUD action; to which a POST can be sent
* prefer to name it with a noun (intent of the action) rather than a verb e.g. POST /alerts/245743/retransmissions

Advantages:
* makes the subresource extensible for adding more logic to it by adding other HTTP verbs and subresources e.g. consult the hist

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Apr 18, 2018, 18:11

mentioned in commit 1c56051bb102493129a327f511345695080b57c5

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Apr 24, 2018, 14:17

subresource doesn't have to be noun always e.g. when doing a search with body; money conversion (action without side effects)

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Apr 25, 2018, 13:57

updated styleguide with last comment

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Apr 25, 2018, 13:57

closed

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Apr 25, 2018, 13:59

mentioned in commit 6f6ae7e7a85c3ce16908be736ba1cc322036afaf

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Feb 26, 2019, 11:55

Reopen issue based on discussions during February 2019 meeting, whilst reviewing ehBox pilot API.

Can every non-CRUD action be modeled as a collection resource/noun?
Complexity to model as collection resource vs possibility to extend.

Discussion put on agenda for meeting on April 1st.

Example: POST /folders/{folder}/messages/batchDeletions vs POST

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Feb 26, 2019, 11:55

reopened

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @wsalembi on May 13, 2019, 10:33

To decide: naming of batch operations e.g. /batchUpdate, /batchDelete, etc

[2020-01-06 14:42] pvdbosch commented on #3
In GitLab by @pvdbosch on Jun 19, 2019, 12:08

Feedback from Steve:

[2020-01-06 14:43] pvdbosch commented on #3
In GitLab by @pvdbosch on Jun 19, 2019, 12:47

My own feedback, based on https://www.thoughtworks.com/insights/blog/rest-api-design-resource-modeling :

1) on commands:

I don't like command pattern too much. Makes it harder to make the service self-descriptive (e.g. in Swagger).

From 'Fine grained CRUD resources versus Coarse Grained resources' from the blog:

Also, you can't indicate security c

[2020-01-06 14:43] pvdbosch commented on #3
In GitLab by @pvdbosch on Nov 14, 2019, 13:17

mentioned in commit 5fd3cd3597b3bc3f88b11fef481cae1a7951fa3e

[2020-01-06 14:43] pvdbosch commented on #3
In GitLab by @pvdbosch on Nov 14, 2019, 13:20

mentioned in merge request !7

[2020-01-06 14:43] pvdbosch commented on #3
In GitLab by @pvdbosch on Nov 14, 2019, 13:34

In last workgroup meeting it was decided to add the controller resource archetype because it can seem very forced to use a noun for everything (e.g. eBox batchDelete, ePV finalize examples ). Add warning however for API designer to consider for each case if using noun would be better.
Merge request !7 has these changes.

[2020-01-06 14:43] pvdbosch commented on #3
In GitLab by @pvdbosch on Dec 10, 2019, 22:08

mentioned in commit c46c3173e3f115e82e6be19c51673c2d33cacbb0

[2020-01-06 14:43] pvdbosch commented on #3
In GitLab by @wsalembi on Dec 11, 2019, 10:43

mentioned in commit e1ff27f2438bab0022be00fa88b1de0f7b702f44

[2020-01-06 14:43] pvdbosch opened #4 "absent JSON properties: explicit null value vs. omitting property"
In GitLab by @wsalembi on Feb 23, 2018, 08:56

Decide on how to model absent JSON properties in a JSON document:
* stripping property (currently in rest styleguide)
* null values in JSon bodies, like in [zorg & gezondheid comments](https://fedictaim.atlassian.net/wiki/spaces/JCSP/pages/124588658/Zorg+Gezondheid+comments+extensions#Zorg&Gezondheidcomments/extensions-nullvaluesinJSonbodies)

Decide

[2020-01-06 14:43] pvdbosch commented on #4
In GitLab by @wsalembi on Feb 23, 2018, 08:56

null isn't supported in [OpenAPI 2.0](https://github.com/OAI/OpenAPI-Specification/issues/297), only in OpenAPI 3.0 when adding `nullable: true` to the definition of the property.

In JSON, there is a semantic difference between explicit null (value is null), and an absent property (value is undefined). I don't expect many clients would take into acco

[2020-01-06 14:43] pvdbosch commented on #4
In GitLab by @wsalembi on Feb 23, 2018, 08:56

Introduction
============

I think it will be very difficult to decide if all REST APIs should remove `null` from JSon representations or not, because all the APIs are not the same and does not have the same complexity.

We already discussed about `null` POST, PUT and PATCH properties in the issue [usage of PATCH/PUT method to update resources](#9). W

[2020-01-06 14:43] pvdbosch commented on #4
In GitLab by @wsalembi on Feb 23, 2018, 08:56

Updated the styleguide.

It was decided to keep the rule that null values SHOULD be stripped, as this is the simplest solution, compatible with OpenAPI 2.0 and simpler to specify in OpenAPI 3.0.

The 'SHOULD' still leaves some room for exceptions. The JSON Merge patch is explicitly mentioned as an exception in the styleguide.

Empty arrays and strings

[2020-01-06 14:43] pvdbosch commented on #4
In GitLab by @wsalembi on Feb 23, 2018, 08:56

closed

[2020-01-06 14:43] #4 closed

[2020-01-06 14:43] pvdbosch opened #5 "standard location of swagger file"
In GitLab by @wsalembi on Feb 23, 2018, 08:57

The swagger specification file is, [by convention](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#file-structure), named swagger.json (or swagger.yaml depending on outcome of issue #6).

In [OpenAPI 3.0](https://swagger.io/specification/), it is RECOMMENDED that the root OpenAPI document be named: openapi.json or openapi.yaml

[2020-01-06 14:43] pvdbosch commented on #5
In GitLab by @wsalembi on Feb 23, 2018, 08:57

Updated issue description. As a result of the workgroup meeting of 9 November, it was decided to remove the special api resource from the styleguide.

The standard location of the swagger file is still under discussion.

[2020-01-06 14:43] pvdbosch commented on #5
In GitLab by @wsalembi on Feb 23, 2018, 08:58

[code]

[2020-01-06 14:43] pvdbosch commented on #5
In GitLab by @wsalembi on Feb 23, 2018, 08:58

Conclusion of the workgroup meeting of 8/12:

/doc was chosen as resource name, as api is often already part of $API_ROOT; no additional parent resource for the other API resources is introduced. This also avoids increasing the URL length for other resources.
The name 'doc' isn't expected to collide with other resource names.

It is modeled as a speci

[2020-01-06 14:43] pvdbosch commented on #5
In GitLab by @wsalembi on Feb 23, 2018, 08:58

closed

[2020-01-06 14:43] #5 closed

[2020-01-06 14:43] pvdbosch opened #6 "JSON schema/swagger: YAML or JSON"
In GitLab by @wsalembi on Feb 23, 2018, 08:58

Recommend either YAML or JSON in styleguide for swagger and JSON schema.

CBSS: prefer YAML
* YAML has much improved readability and write-ability; considerably less parentheses and double quotes necessary
* its widely used (swaggerhub creates new example API by default in YAML, Zalando recommends it)
* downside: an additional markup language to learn

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @wsalembi on Feb 23, 2018, 08:59

# In theory
According to the yaml.org spec: http://yaml.org/spec/1.2/spec.html#id2759572
* JSON’s foremost design goal is simplicity and universality.
* YAML allows for extremely readable files, but is more complex to generate and parse.
* YAML can therefore be viewed as a natural superset of JSON.
* YAML supports comments, JSON does not natively howe

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @wsalembi on Feb 23, 2018, 08:59

The working group agreed on the above conclusion.

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @wsalembi on Feb 23, 2018, 08:59

closed

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @wsalembi on Feb 23, 2018, 09:09

reopened

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @pvdbosch on Feb 23, 2018, 16:59

mentioned in commit bb9da458c4c83461e46c4df7b6092fd7b6a98987

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @pvdbosch on Feb 23, 2018, 16:59

styleguide updated

[2020-01-06 14:44] pvdbosch commented on #6
In GitLab by @pvdbosch on Feb 23, 2018, 16:59

closed

[2020-01-06 14:44] #6 closed

[2020-01-06 14:44] pvdbosch opened #7 "location of common JSON schemas"
In GitLab by @wsalembi on Feb 23, 2018, 08:59

Add guidelines how to organize JSON schemas that are used in multiple APIs.

* duplicate the schema files in each API?
* a single URL for the reused JSON schema? Same for cross-organization schemas (i.e. the ones from the functional workgroup)?

Related:
* use of the id-attribute in JSON schemas to uniquely identify a schema and its location
* version

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @wsalembi on Feb 23, 2018, 09:00

@eHealth we chose to break down re-usable JSON object definitions into separate Maven projects. Also the object definitions specific to a certain API are not inside the Swagger file but next to it. This also opens the option to work contract-first.

At Maven build-time, this all comes together and generates a "fat" self-contained Swagger file, includi

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Mar 20, 2018, 12:49

From the above, it seems that there are quite some issues when using references to common schemas from a central location, e.g. `$ref: "https://some.gcloud.location/common-schema.json"`

We'll probably just need a gcloud gitlab repo with the common JSON schema data types, perhaps publish them somewhere (gcloud artifactory? or public internet?), and th

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Mar 21, 2018, 09:55

Feedback that Willem sent me by mail:

$id properties in JSON schemas moeten in principe URI zijn die dereferenced kunnen worden

https://tools.ietf.org/html/draft-handrews-json-schema-01#section-8.2

JSON schemas verliezen een beetje hun nut wanneer gebruikt in Swagger. De default is toch dat alle type definities in de swagger file include worden.
Sw

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Apr 19, 2018, 20:48

Added to styleguide as discussed:
* JSON schemas can group multiple types for reuse by different APIs
* include major version in id (if there is an id)

Open questions:
* how to specify version in URL?
e.g.     "id": http://example.org/personidentification.yaml/v1
      or "id": http://example.org/personidentification-v1.yaml ?
  * http://example.org/

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Apr 19, 2018, 20:50

mentioned in commit f86e56bbad2f5f757113f26a52de862910f0a148

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Apr 24, 2018, 14:27

Chosen option: http://example.org/person/identification/v1

http://example.org/person/identification => redirect to latest version

Other options:

* http://example.org/personidentification-v1.yaml
* http://example.org/personidentification.yaml/v1

For gcloud schemas, we can offer both yaml and json (~ http Accept header)

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Apr 25, 2018, 13:57

added last comment in styleguide.

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Apr 25, 2018, 13:57

closed

[2020-01-06 14:44] pvdbosch commented on #7
In GitLab by @pvdbosch on Apr 25, 2018, 13:59

mentioned in commit 6f6ae7e7a85c3ce16908be736ba1cc322036afaf

[2020-01-06 14:44] #7 closed

[2020-01-06 14:45] pvdbosch opened #8 "usage of HAL"
In GitLab by @wsalembi on Feb 23, 2018, 09:00

eHealth:
* Eventueel alternatief geconsidereerd (Collection+JSON, Siren, Hydra)?
* Wanneer verplicht gebruik? Steeds nood aan self?
* Bepaalde functionaliteiten niet ge-exploiteerd (bvb curies)?
* Ook in Swagger te documenteren?
* Include host in links or only relative path? (!!change per env!!)

CBSS:
* in API implementation: links should always be c

[2020-01-06 14:45] pvdbosch commented on #8
In GitLab by @wsalembi on Feb 23, 2018, 09:00

Decided to use pragmatic reduced approach, no full HAL:
* self link on each resource
* when resource references other resources: add href in-place
* prev/next links for paginated collections

Styleguide was updated accordingly by Willem in commit d6f7c09c4249594db528c5de505d9806308d1384

[2020-01-06 14:45] pvdbosch commented on #8
In GitLab by @wsalembi on Feb 23, 2018, 09:01

closed

[2020-01-06 14:45] #8 closed

[2020-01-06 14:45] pvdbosch opened #9 "usage of PATCH/PUT method to update resources [REPLACEMENT ISSUE]"
The original issue

	Id: 9
	Title: usage of PATCH/PUT method to update resources

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-01-06 14:45] pvdbosch commented on #9
In GitLab by @wsalembi on Feb 23, 2018, 09:01

added eHealth comment to issue description about which RFC to use

[2020-01-06 14:45] pvdbosch commented on #9
In GitLab by @wsalembi on Feb 23, 2018, 09:01

The zalando style guide gives a [nice overview](http://zalando.github.io/restful-api-guidelines/#patch) of approaches:

Since implementing PATCH correctly is a bit tricky, we strongly suggest to choose one and only one of the following patterns per endpoint, unless forced by a backwards compatible change. In preference order:

1. use PUT with complete

[2020-01-06 14:45] pvdbosch commented on #9
In GitLab by @wsalembi on Feb 23, 2018, 09:02

`PUT` should be used to update the whole resource.

`PATCH` should be used to partially update the resource.

# Differences

## Updated content

`PUT` updates the whole resource (all updateable properties). It means that if you ommit a property, `PUT` should set the property to `null` in the database. It can be a problem when the new properties are ad

[2020-01-06 14:45] pvdbosch commented on #9
In GitLab by @wsalembi on Feb 23, 2018, 09:02

Updated the style guide with conclusions of last work group meeting, in chapter 'Document', section 'Update':

1. PUT with warning for missing properties
2. PATCH with JSON merge patch
3. POST

+ discourage JSON Patch as it is too difficult to implement.

Added rule for 'readOnly' properties in API specification section.
Added some clarifications in '

[2020-01-06 14:45] pvdbosch commented on #9
In GitLab by @wsalembi on Feb 23, 2018, 09:02

closed

[2020-01-06 14:45] #9 closed

[2020-01-06 14:45] pvdbosch opened #10 "recommendations for http TRACE method"
In GitLab by @wsalembi on Feb 23, 2018, 09:02

If supported, the http TRACE method can be used to echo the received request so that a client can see what (if any) changes or additions have been made by intermediate servers.

Should we add this to the guidelines? (eHealth remark)

CBSS: we can add this that it 'MAY' be supported. Or if it's important (based on real world experience), we can specify

[2020-01-06 14:45] pvdbosch commented on #10
In GitLab by @wsalembi on Feb 23, 2018, 09:02

remove from style guide

[2020-01-06 14:45] pvdbosch commented on #10
In GitLab by @wsalembi on Feb 23, 2018, 09:02

Decided to leave http TRACE out of the style guide.

TRACE could be abused for DOS attacks (e.g. when spoofing source IP, with large replies being sent to attack other servers).
The use cases could be provided by other debugging tools.

[2020-01-06 14:45] pvdbosch commented on #10
In GitLab by @wsalembi on Feb 23, 2018, 09:02

closed

[2020-01-06 14:45] #10 closed

[2020-01-06 14:45] pvdbosch opened #11 "caching guidelines"
In GitLab by @wsalembi on Feb 23, 2018, 09:03

* use ETag or using Last-Modified
* recommendations on use of the Cache-Control header
* use of Vary header

Because of the low priority, caching.adoc is removed from the styleguide at the moment, but still exists in the git repo.

[2020-01-06 14:45] pvdbosch commented on #11
In GitLab by @pvdbosch on Mar 22, 2018, 10:15

assigned to @stephane-dereppe

[2020-01-06 14:45] pvdbosch commented on #11
In GitLab by @stephane-dereppe on Apr 23, 2018, 16:23

* Prefer ETag vs LastModified : really based on actual response content
* Cache-control header : (see https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching?hl=fr)

![http-cache-decision-tree](/uploads/9d46181923748755210d76841ffbd04e/http-cache-decision-tree.png)

* Vary header maybe needed for m

[2020-01-06 14:46] pvdbosch commented on #11
In GitLab by @pvdbosch on Apr 24, 2018, 11:51

Last-Modified doesn't allow sub-second precision, so it might not be precise enough if there are two updates within a second.

[2020-01-06 14:46] pvdbosch commented on #11
In GitLab by @stephane-dereppe on May 7, 2018, 12:50

created branch [`11-caching-guidelines`](https://git-cicd.gcloud.belgium.be/rest/styleguide/compare/master...11-caching-guidelines)

[2020-01-06 14:46] pvdbosch commented on #11
In GitLab by @stephane-dereppe on May 7, 2018, 12:50

mentioned in merge request !1

[2020-01-06 14:46] pvdbosch commented on #11
In GitLab by @pvdbosch on May 28, 2018, 18:02

closed via commit f3e303942ea70c1b67f97a25cb65cb4ce1173419

[2020-01-06 14:46] pvdbosch commented on #11
In GitLab by @pvdbosch on May 28, 2018, 18:02

closed via merge request !1

[2020-01-06 14:46] #11 closed

[2020-01-06 14:46] pvdbosch opened #12 "internationalization guidelines"
In GitLab by @wsalembi on Feb 23, 2018, 09:03

eHealth remark: Accept-Language vs LocalizedString ? One or both options in 1 implementation

Because of the low priority, internationalisation.adoc is removed from the styleguide at the moment, but still exists in the git repo.

[2020-01-06 14:46] pvdbosch commented on #12
In GitLab by @pvdbosch on Mar 22, 2018, 10:15

assigned to @pvdbosch

[2020-01-06 14:46] pvdbosch commented on #12
In GitLab by @pvdbosch on Apr 24, 2018, 10:28

# Use cases

* readable representation of data for display e.g. gender code 1 => male / mannelijk / masculin; or error descriptions
* as part of the resource/business data: e.g. name of a company in CBE-register in the different BE languages => out of scope?
 * special case: address (street name, city, ...)
* system-to-system (e.g. API response saved

[2020-01-06 14:46] pvdbosch commented on #12
In GitLab by @pvdbosch on Apr 25, 2018, 12:45

proposition accepted; LocalizedString reusable type will be defined with only fr/nl/de.

Committed to git master.

[2020-01-06 14:46] pvdbosch commented on #12
In GitLab by @pvdbosch on Apr 25, 2018, 12:45

closed

[2020-01-06 14:46] pvdbosch commented on #12
In GitLab by @pvdbosch on Apr 25, 2018, 12:46

mentioned in commit 424f490add64921e1968dd8f584ebca20984c521

[2020-01-06 14:46] #12 closed

[2020-01-06 14:46] pvdbosch opened #13 "monitoring guidelines"
In GitLab by @wsalembi on Feb 23, 2018, 09:04

Because of the low priority, monitoring.adoc is removed from the styleguide at the moment, but still exists in the git repo.

eHealth: HealthCheck
*	Monitoring returns the XML monitoring message in order to be interpretable by foglight. This is legacy…
*	Should become JSON

CBSS:
* most of monitoring section contains checks internal to the organizatio

[2020-01-06 14:46] pvdbosch commented on #13
In GitLab by @pvdbosch on Apr 24, 2018, 20:25

assigned to @wsalembi

[2020-01-06 14:46] pvdbosch commented on #13
In GitLab by @wsalembi on Jun 28, 2018, 09:15

[code]

[2020-01-06 14:46] pvdbosch commented on #13
In GitLab by @wsalembi on Jun 28, 2018, 10:49

After review

[code]

[2020-01-06 14:46] pvdbosch commented on #13
In GitLab by @pvdbosch on Dec 21, 2018, 12:17

mentioned in December WG meeting:
* enum values to be converted to lowerCamelCase
* component level details are typically hidden from clients outside the organization for security reasons (can be done using scopes)
* when running on OpenShift/k8s, this check cannot be used as a readinessProbe, because when status isn't up, it would make the health che

[2020-01-06 14:46] pvdbosch commented on #13
In GitLab by @pvdbosch on Jan 8, 2019, 10:40

Added schema (with lowerCamelCase enum values) to common-v1beta in f2f3842a

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @pvdbosch on Jan 21, 2019, 15:41

mentioned in merge request !3

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @pvdbosch on Jan 22, 2019, 10:48

Discussed on WG of January:

Http status code for failing health checks: 200 or 503?
 * 503:
   * some basic monitoring could be done on http status code only
   * 503 is also used in (spring boot)https://docs.spring.io/spring-boot/docs/2.1.2.RELEASE/reference/htmlsingle/#_writing_custom_healthindicators and (microprofile health)https://github.com/ecl

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @wsalembi on May 10, 2019, 09:23

mentioned in commit 5dfd32368fab2793462f81010f4d4c1ba19cce34

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @wsalembi on May 10, 2019, 09:35

mentioned in commit 27fe76561b98a36d9c240fc379e3f6365583c4e8

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @wsalembi on May 10, 2019, 09:36

mentioned in merge request !4

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @wsalembi on May 13, 2019, 09:29

mentioned in commit 537e01019c611518b0fa8718d58203e6738ac195

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @wsalembi on May 13, 2019, 10:21

mentioned in commit c32894361a66cb44c7e20489e48cf13914c08aa2

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @pvdbosch on Jun 18, 2019, 21:51

How the [microprofile health](https://download.eclipse.org/microprofile/microprofile-health-2.1/microprofile-health-spec.html) standard compares:

* status UP and DOWN, no support for DEGRADED or other values, same http codes
* /health/live and /health/ready for kubernetes liveness and readiness checks, /health for all checks
* individual checks in a

[2020-01-06 14:47] pvdbosch commented on #13
In GitLab by @wsalembi on Dec 11, 2019, 10:21

Logging at the specs, I think we should just formalize the common parts. Top-level is UP (200) or DOWN (503).
Then the service provider has the choice to either implement it with microprofile, spring or custom code

[2020-01-06 14:47] pvdbosch opened #14 "documentation of update operations"
In GitLab by @wsalembi on Feb 23, 2018, 09:04

Define guidelines:
- how to partial resource updates using JSON merge PATCH in swagger
  - null values aren't allowed in OpenAPI 2.0 (but they are in 3.0)
  - reuse of an existing JSON schema type is difficult e.g. required properties
- how to show to clients which properties they are permitted to update? Add _updatable property?

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @wsalembi on Feb 23, 2018, 09:04

To represent JSON merge PATCH in OpenAPI, probably our only choice is to provide an empty placeholder type.

This is done in the kubernetes API:

[code]

The only alternative would be to make every property nullable (in OpenAPI 3.0 only - no solution for OpenAPI 2.0) and none required.

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on Mar 14, 2018, 16:34

VAS remark (old one, extracted from json.adoc) on Updatable fields:

* For self documentation purpose and to prevent some business logic to be duplicated in the front-end, we decided to return a shadow resource representation where each given property mean the property is updatable. The value of those properties is not important but we decided to use

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on Apr 24, 2018, 20:25

assigned to @pvdbosch

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on May 29, 2018, 10:03

For JSON Merge Patch, I propose a single empty type:

`
MergePatch:
   description: JSON Merge Patch request body
`

It would just serve as description, as we can't create a more specific type in OpenAPI 2.0 as it has no way to represent nullable properties.

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on May 29, 2018, 12:40

On _updatable ...

Different ways to indicate which properties can be updated:
* readOnly can be used in OpenAPI description if updatable properties are a static list
* adding `_updatable` to the resource also allows cases where list of updatable properties is dynamic (e.g. depend on client permissions on individual resource)
* using static documentat

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on May 29, 2018, 16:09

MergePatch type => OK
_updatable (or _filtered) => no member of WG has practical experience with this; don't include in styleguide for the moment

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on Jun 27, 2018, 13:16

mentioned in commit f219452c64840d3c7666261c28a047070e5bd009

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on Jun 27, 2018, 13:16

added empty MergePatch object type in common.yaml

[2020-01-06 14:47] pvdbosch commented on #14
In GitLab by @pvdbosch on Jun 27, 2018, 13:16

closed

[2020-01-06 14:48] #14 closed

[2020-01-06 14:48] pvdbosch opened #15 "embedding of resources"
In GitLab by @wsalembi on Feb 23, 2018, 09:04

How to represent embedded resources:
* a list at the root level of the response object
* or as part of the response JSON object

Decide on exact format; standard property names, etc.

Example root level:

[code]

Example embedded in resource:

[code]

[2020-01-06 14:48] pvdbosch commented on #15
In GitLab by @wsalembi on Feb 23, 2018, 09:05

The workgroup decided to model embedded resources using a "embedded" JSON object at root level, with the URL of the embedded resource as key, and the full resource representation as value.

[code]

This minimizes impact of the choice of using embedded resources, and only has minimal impact on JSON Schema types. It also works well when there are multip

[2020-01-06 14:48] pvdbosch commented on #15
In GitLab by @pvdbosch on Mar 2, 2018, 12:55

mentioned in commit ae96c13d927849040547782e975f03a2e008ec13

[2020-01-06 14:48] pvdbosch commented on #15
In GitLab by @pvdbosch on Mar 2, 2018, 12:57

updated style guide. Rule on 'additionalProperties' in JSON schemas had to be changed a bit to be compatible.

[2020-01-06 14:48] pvdbosch commented on #15
In GitLab by @pvdbosch on Mar 2, 2018, 12:57

closed

[2020-01-06 14:48] #15 closed

[2020-01-06 14:48] pvdbosch opened #16 "naming convention JSON schema types"
In GitLab by @wsalembi on Feb 23, 2018, 09:05

Naming convention for types defined in a JSON schema.

I can't find rules in other styleguides, but I propose UpperCamelCase:
* OpenAPI/swagger examples seem to use UpperCamelCase
* the Money and Problem common data types referenced in the zalando guide use UpperCamelCase (though some other examples use other casing)
* types/classes are often UpperCam

[2020-01-06 14:48] pvdbosch commented on #16
In GitLab by @wsalembi on Feb 23, 2018, 09:05

The working group agreed to use UpperCamelCase for types in JSON schema.

[2020-01-06 14:48] pvdbosch commented on #16
In GitLab by @pvdbosch on Feb 23, 2018, 16:59

mentioned in commit bb9da458c4c83461e46c4df7b6092fd7b6a98987

[2020-01-06 14:48] pvdbosch commented on #16
In GitLab by @pvdbosch on Feb 23, 2018, 16:59

styleguide updated

[2020-01-06 14:48] pvdbosch commented on #16
In GitLab by @pvdbosch on Feb 23, 2018, 16:59

closed

[2020-01-06 14:48] #16 closed

[2020-01-06 14:48] pvdbosch opened #17 "long-running tasks"
In GitLab by @wsalembi on Feb 23, 2018, 09:06

Provide a standardized way to execute long-running tasks in REST, i.e. requests that take time to complete for which result can't be returned synchronously.

VAS suggested the use of the command pattern for this: [Command_Examples.mht](/uploads/6fe3600dd32e77087ea3204b2f8c48ab/Command_Examples.mht)

[2020-01-06 14:48] pvdbosch commented on #17
In GitLab by @pvdbosch on Mar 30, 2018, 10:50

changed the description

[2020-01-06 14:48] pvdbosch commented on #17
In GitLab by @pvdbosch on Apr 25, 2018, 13:27

assigned to @stephane-dereppe

[2020-01-06 14:48] pvdbosch commented on #17
In GitLab by @stephane-dereppe on May 28, 2018, 14:15

As mentioned [in issue 3](https://git-cicd.gcloud.belgium.be/rest/styleguide/issues/3)

We can use a resource that represent the (long-running) process itself.

1. We send POST request to start the process POST /employers/mutations.  The id of the new processed is return in the location header (as a for normal resource creation) with a status

[2020-01-06 14:48] pvdbosch commented on #17
In GitLab by @stephane-dereppe on May 29, 2018, 14:47

Alternative :

https://www.oreilly.com/library/view/restful-web-services/9780596809140/ch01s10.html

[2020-01-06 14:48] pvdbosch commented on #17
In GitLab by @stephane-dereppe on May 29, 2018, 15:27

It's also possible to provide a callback url that will be called by the server once the task is processed. (to avoid polling)

[2020-01-06 14:48] pvdbosch commented on #17
In GitLab by @pvdbosch on May 29, 2018, 15:39

Include examples based on oreilly link (but converted in JSON) in style guide (with 202 Accepted).

Multiple use cases are possible (e.g. only start long running task for big calculations) => to adapt according to use case.
In case of failed running task => problem detail block may be embedded in response to have similar response status with immediate

[2020-01-06 14:49] pvdbosch commented on #17
In GitLab by @stephane-dereppe on Jun 25, 2018, 13:07

# Example

## 1. `POST /images/tasks`
==> Response

[code]
* the response contains a code indicating that the server accepted the request for processing
* A hint to check for the status at a later time

## 2. `GET /images/task/1`

### 2.1 The server is still processing the task

[code]

### 2.2 The processing is completed

[code]

* The locati

[2020-01-06 14:49] pvdbosch commented on #17
In GitLab by @pvdbosch on Jun 28, 2018, 16:01

mentioned in merge request !2

[2020-01-06 14:49] pvdbosch commented on #17
In GitLab by @pvdbosch on Jun 28, 2018, 16:02

closed via merge request !2

[2020-01-06 14:49] #17 closed

[2020-01-06 14:49] pvdbosch opened #18 "'greater than', 'smaller than or equal than', ... as query parameters [REPLACEMENT ISSUE]"
The original issue

	Id: 18
	Title: 'greater than', 'smaller than or equal than', ... as query parameters

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @pvdbosch on Mar 21, 2018, 16:17

assigned to @kernixski

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on Apr 24, 2018, 13:04

For complex queries, we can use FIQL (Feed Item Query Language) or RSQL (a superset of FIQL).

More info on FIQL: https://tools.ietf.org/html/draft-nottingham-atompub-fiql-00

Example of FIQL parsers and some integrations: http://cxf.apache.org/docs/jax-rs-search.html

Example of RSQL parser: https://github.com/jirutka/rsql-parser (also an FIQL parse

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @pvdbosch on Apr 24, 2018, 14:43

* simple case - limited list of search parameters:
 => explicit query parameters for each one, defined in Swagger spec.
Example:
?birthDate_lt=
?birthDate_le=
gt
ge
* complex case: long list of search parameters (not necessarily known at design time):
  FIQL or RSQL => to investigate the differences; check if implementation is usable

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on May 28, 2018, 15:46

jirutka RSQL parser seems to be used by other projects but the project itself seems to be abandonned (no commit since 2 years).

Here is an example of implementation for the jirutka RSQL parser. It is the implementation for JPA query builder: https://gist.github.com/jirutka/42a0f9bfea280b3c5dca . To use it seems to be very simple. And it is also easy

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @pvdbosch on May 29, 2018, 15:11

For simple query scenario, two options:

* ?birthDate_lt=
* ?birthDate_contains=

* ?birthDate:lt=        ( not HL7)
* ?birthDate:contains=  ( ~ HL7 standard)

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @pvdbosch on May 29, 2018, 15:47

?birthDate:contains generates birthDatecontains in Java with swagger codegen which is inconvenient.

=> underscore is easier: ?birthDate_lt

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on Nov 19, 2018, 10:08

mentioned in commit 5d83610a3d2d93f82b41814c332b7c6bda709b93

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on Nov 19, 2018, 10:27

mentioned in commit bdf0d26cfa387bf8be421bbae2ea1d59ff654004

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @pvdbosch on Nov 26, 2018, 14:31

conclusions of the meeting of 19 November:
- underscore confirmed as separator between property and operation
  - dot was also considered but it isn't distinguishable from a property when referencing nested properties e.g. `?partner.birthDate.lt=`
- wildcards can be supported as value for text search, replacing the need for separate contains/startsWit

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on Dec 17, 2018, 09:12

mentioned in commit 024fab696927f3b9ed8a5509a70b3a086cd4c1ca

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @pvdbosch on Dec 20, 2018, 11:57

Discussed in december meeting: drop the _matches suffix when matching a field (either fully, partially with wildcards, ...)

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on Jan 21, 2019, 10:22

mentioned in commit f125b9d952d72d2d5aa6f60f9d1ae7d5858889c6

[2020-01-06 14:49] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 08:12

mentioned in commit acb7b14b1c9fe9a7da7d72c565a8522afad98f30

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 08:16

mentioned in commit 56dacc2d357690cf3dde6c0abd83b5a537d18848

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 08:16

mentioned in commit 341ff95580e331b46d8f71f46f54690fe0400139

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 08:16

mentioned in commit a1717ffdb587c82d545cc97c7166b5ba21196bc9

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 08:16

mentioned in commit f420beefd59db0d0a172d82ed4c95cae9342a99e

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 08:16

mentioned in commit 589cf7927e9638f64dc0dd3311e6256e968ade33

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 10:24

mentioned in commit 4e9c86a3952288182e08cbc782a204a4d9be3fbd

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @wsalembi on May 13, 2019, 11:19

closed

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @wsalembi on May 13, 2019, 11:19

reopened

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 11:21

created merge request !6 to address this issue

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @kernixski on May 13, 2019, 11:21

mentioned in merge request !6

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @pvdbosch on Nov 19, 2019, 18:04

like mentioned on the merge request !6 : it doesn't contain any commits. Forgotten to push changes?

[2020-01-06 14:50] pvdbosch commented on #18
In GitLab by @pvdbosch on Nov 20, 2019, 14:00

changed title from **{-representation of 'greater than', 'smaller than or equal than', ... in-} query parameters** to **{+'greater than', 'smaller than or equal than', ... as+} query parameters**

[2020-01-06 14:50] pvdbosch opened #19 "example REST mock API"
In GitLab by @pvdbosch on Apr 25, 2018, 12:28

development of a REST mock API, serving as an example for the REST style guide

Examples in the styleguide should be replaced with samples from the REST mock API; and using full URLs instead of relative ones.

[2020-01-06 14:50] pvdbosch commented on #19
In GitLab by @pvdbosch on May 29, 2018, 20:44

changed the description

[2020-01-06 14:50] pvdbosch commented on #19
In GitLab by @pvdbosch on Jun 28, 2018, 10:29

requirements:
- topic: enterprises, establishment ~ KBO; linked to person
- document, collections operations, incl long running tasks, pagination, non-CRUD operation
- caching
- i18n

[2020-01-06 14:50] pvdbosch commented on #19
In GitLab by @pvdbosch on Jan 22, 2019, 11:43

assigned to @wsalembi

[2020-01-06 14:50] pvdbosch commented on #19
In GitLab by @pvdbosch on Jan 22, 2019, 11:47

The API used for internal Smals trainings is going to be used as mock API.

@smals\-wisa , could you share it on gitlab in a new project under the rest group?
We can then review it from there.

There still will be some work to publish it under gCloud, as it currently has some Smals-specific dependencies.

[2020-01-06 14:50] pvdbosch commented on #19
In GitLab by @pvdbosch on Dec 11, 2019, 15:03

A Smals developer will work on this. Try to get it done in two months, then update examples in guide.
@wsalembi , can you share the code (mainly Swagger) for review?

[2020-01-06 14:50] pvdbosch opened #20 "create common gCloud JSON Schemas"
In GitLab by @pvdbosch on Apr 25, 2018, 12:48

create and upload common gCloud Schemas for types defined troughout the style guide, e.g. Problem Detail type, LocalizedString

Schemas should be made available in both JSON and YAML and in gCloud artifactory.

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on May 29, 2018, 20:19

assigned to @pvdbosch

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Jun 27, 2018, 13:16

mentioned in commit f219452c64840d3c7666261c28a047070e5bd009

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Jun 27, 2018, 13:17

added common.yaml with Problem, LocalizedString, MergePatch and HttpLink types

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Jun 28, 2018, 11:35

Decided on meeting:

- to split common.yaml in separate files per main type; with definitions-property only for subtypes so that they're more hidden
- HttpLink:
  - href as readOnly? check spec priority readOnly vs required, discuss next time => to be decided
  - HttpLink: document that only to be used for links in APIs, not for all URI values like  w

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Jun 29, 2018, 09:45

mentioned in commit a1be164d121c5fa2a3a370864087fafb3d09e852

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Aug 8, 2018, 13:06

About readOnly in combination with required:

* In OpenAPI 2.0: Properties marked as readOnly being true SHOULD NOT be in the required list of the defined schema.
* But in OpenAPI 3.0: If the property is marked as readOnly being true and is in the required list, the required will take effect on the response only.

For the HttpLink use case, in OpenAPI

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Aug 8, 2018, 14:42

mentioned in commit e46685d8e2f6db7b480420879c63349bafa7f347

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Aug 8, 2018, 14:42

mentioned in commit 5232af4569b1c9ec77d98772c64cacc0f0a4823f

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Aug 9, 2018, 09:32

Meeting 8/2018 conclusions:
* HttpLink: href readOnly instead of required
* tools evaluation for swagger: todo => separate issue #25
* gcloud functional schemas and naming conventions: todo => separate issue #26
* enums : lowerCamelCase (generates in Java UPPER_CASE)
* to create index file for all schemas, and publish them in JSON format as well #27

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Oct 9, 2018, 11:54

HttpLink and enum rules committed to styleguide in 25fc4dfe75d68b288806fad2e4bc0b202dac363a ; followup of remaining open issues continued in separate issues.

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Oct 9, 2018, 11:54

closed

[2020-01-06 14:51] pvdbosch commented on #20
In GitLab by @pvdbosch on Oct 9, 2018, 15:47

mentioned in commit fa7a41cd1ca4ee9995ee3db8cffa6075fc551933

[2020-01-06 14:51] #20 closed

[2020-01-06 14:51] pvdbosch opened #21 "message ID / correlation ID"
In GitLab by @pvdbosch on Apr 25, 2018, 14:40

Standardize on HTTP headers used to include a ID (UUID?) for tracing and operational purposes.

Related: id used in JSON problem detail

CBSS: in web services offered by CBSS, we use a client id (string maxlength 36 to allow UUID but also other IDs); and return a UUID generated by CBSS. For webservices we call, we generate a UUID for each call in our

[2020-01-06 14:51] pvdbosch commented on #21
In GitLab by @pvdbosch on Apr 25, 2018, 14:43

changed the description

[2020-01-06 14:51] pvdbosch commented on #21
In GitLab by @pvdbosch on May 29, 2018, 20:19

assigned to @pvdbosch

[2020-01-06 14:51] pvdbosch commented on #21
In GitLab by @pvdbosch on Aug 8, 2018, 15:58

OpenTracing is an interesting standard, endorsed by CNCF:
* https://github.com/opentracing/specification/blob/master/specification.md#the-opentracing-data-model
* spans which can have 'ChildOf' or 'FollowsFrom' relations to parent span
* a span has tags (key/values) i.e. the application, http method called, .. Some tag keys are standardized.
* baggage

[2020-01-06 14:51] pvdbosch commented on #21
In GitLab by @pvdbosch on Aug 8, 2018, 16:03

X-Request-ID and X-Correlation-ID are listed as "commonly used non-standard HTTP headers" on [wikipedia](https://en.wikipedia.org/wiki/List_of_HTTP_header_fields). Does Axway use them?

[2020-01-06 14:51] pvdbosch commented on #21
In GitLab by @pvdbosch on Aug 9, 2018, 11:15

X-Correlation-ID is most used for correlating calls internal to an organization.

We need to define standard headers for client request ID and server response ID.

To check in zipkin if it uses standard IDs / headers (Peter)
To check in Axway what happens with headers for internal calls to Axway (Willem)

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @pvdbosch on Aug 10, 2018, 10:13

[Zipkin](https://github.com/openzipkin/b3-propagation) defines some HTTP headers:
* X-B3-TraceId (~ Correlation id) - a trace is defined as the ensemble of all related spans
* X-B3-SpanId
* X-B3-ParentSpanId
* some tracing flags specifying how/what to trace

[Jaeger](https://www.jaegertracing.io/docs/client-libraries/) also has couple headers in own p

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @wsalembi on Nov 19, 2018, 11:20

Symmetric or asymmetric header name?

	GET /hello
	BelGov-Client-Trace-Id: abc

		200 OK
		BelGov-Server-Trace-Id: xyc
		BelGov-Client-Trace-Id: abc

OR

	GET /hello
	BelGov-Trace-Id: abc

		200 OK
		BelGov-Trace-Id: xyc
		BelGov-Client-Trace-Id: abc

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @pvdbosch on Dec 17, 2018, 11:23

Decided in December WG:

`BelGov-Trace-Id` for both request /response ids

`BelGov-Related-Trace-Id` (optional) to indicate request id on response

Considerations were:
* http headers are usually always the same for requests and responses
* though it won't be clear from the header name alone which trace id is meant (e.g. for operational purposes)

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @pvdbosch on Dec 21, 2018, 14:31

mentioned in commit 45bd207c0cf3df6e1cae05ee01837939fee4a45d

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @pvdbosch on Dec 21, 2018, 14:33

Added tracing chapter to the guide; to be validated in WG.

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @pvdbosch on Jan 3, 2019, 14:35

While possible to specify these headers in a Swagger file, this is probably too cumbersome to do for each operation. So I haven't added the header parameters to common-v1.yaml.

[2020-01-06 14:52] pvdbosch commented on #21
In GitLab by @pvdbosch on Jan 22, 2019, 10:14

closed

[2020-01-06 14:52] #21 closed

[2020-01-06 14:52] pvdbosch opened #22 "styleguide validation tool"
In GitLab by @pvdbosch on May 29, 2018, 20:41

Develop a tool that validates OpenAPI 2.0 and JSON Schema files are conformant to the styleguide rules, for the rules where it can be automated.

[2020-01-06 14:52] pvdbosch commented on #22
In GitLab by @pvdbosch on Aug 9, 2018, 11:27

Primary use case is to include it in a build as maven plugin.

Could try to use JsonPath to parse the swagger/schemas, but it has no line number support.

Code shared on git-cicd.
No commitment yet for someone to start implementation. When implementation started, a demo/proposal can be done for the REST WG for evaluation.

[2020-01-06 14:52] pvdbosch commented on #22
In GitLab by @pvdbosch on Oct 10, 2018, 13:46

assigned to @wsalembi

[2020-01-06 14:52] pvdbosch commented on #22
In GitLab by @pvdbosch on Dec 17, 2018, 15:30

current WIP version: https://git-cicd.gcloud.belgium.be/rest/styleguide-validator/tree/REST-66

[2020-01-06 14:52] pvdbosch commented on #22
In GitLab by @wsalembi on May 10, 2019, 14:29

Release 0.1.0 completed https://repo.gcloud.belgium.be/artifactory/webapp/#/builds/rest%20::%20Release_rest-styleguide-validationrules_main/1/1557489803668

[2020-01-06 14:52] pvdbosch commented on #22
In GitLab by @wsalembi on May 10, 2019, 14:30

assigned to @pvdbosch and unassigned @wsalembi

[2020-01-06 14:52] pvdbosch commented on #22
In GitLab by @wsalembi on May 13, 2019, 10:57

closed

[2020-01-06 14:52] #22 closed

[2020-01-06 14:52] pvdbosch opened #23 "error handling"
In GitLab by @pvdbosch on Jun 28, 2018, 16:22

Decided to use JSON Problem Details for HTTP RFC.

Some open issues remain:
* are type and status mandatory?
* schema for more specific common problem types (e.g. invalid parameter)
* type value for API-specific problems are difficult to use if it's a different URL per environment

[2020-01-06 14:52] pvdbosch commented on #23
In GitLab by @wsalembi on Aug 9, 2018, 10:30

mentioned in commit bc569ba7e09bf7beed88cc5d69c2d1dc5f7ebd27

[2020-01-06 14:52] pvdbosch commented on #23
In GitLab by @pvdbosch on Oct 22, 2018, 16:51

Some feedback when implementing our first REST API:

About the presence of optional Problem properties:
* when to use "type"? Always if a problem+json body is present? Seems useful for interpretation by a program.
  * schema validation error: has no type property at the moment in styleguide
* status: mandatory? There's always a http return code.

It w

[2020-01-06 14:52] pvdbosch commented on #23
In GitLab by @pvdbosch on Dec 20, 2018, 12:05

changed the description

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on Dec 20, 2018, 12:06

changed the description

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on Dec 21, 2018, 12:23

as briefly mentioned in December meeting, we could make it a rule to specify a `default` response object on each path with a Problem response. This is necessary for generated client code to be able to interpret the problem response on status codes not specified in the Swagger.

In OpenAPI 3.0, specifying wildcard response codes is possible, so then it

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on Feb 27, 2019, 12:53

Added InvalidParamProblem to styleguide.
I suggest "type": "https://www.gcloud.belgium.be/rest/problems/invalidParam" for this one.
An issue remains with codegen for the `value` property which can be any type; see #25.

To be validated next meeting.

We should add a list with all 'gCloud' problem types.

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on Feb 27, 2019, 13:49

For mime types, in OpenAPI 2.0 its apparently always specified at operation level, not per status code or response object, see https://swagger.io/docs/specification/2-0/describing-responses/.

This means that it can't be specified in a Swagger file that application/problem+json mime type is only used for Problem responses; and that most APIs should th

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on Feb 28, 2019, 10:15

mentioned in commit 9399170d9837e7a3a390fda202726c11e6c67759

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit ecdd963f3e7be2895c19ee6a30d03a5861bb6bd1

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @wsalembi on May 10, 2019, 16:47

mentioned in commit 05116f06a96d2688ef1d09723b1d8070528c4665

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @wsalembi on May 10, 2019, 16:48

mentioned in merge request !5

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @wsalembi on May 10, 2019, 16:48

assigned to @pvdbosch and unassigned @wsalembi

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @wsalembi on May 13, 2019, 10:48

mentioned in commit e6b28c68ce27c42ea424697ab6829b48bf1127e4

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @wsalembi on May 13, 2019, 13:53

mentioned in commit d7fede0e9992f1ad2a026208de5b9c11f7a2dca6

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @wsalembi on May 13, 2019, 13:54

closed

[2020-01-06 14:53] pvdbosch commented on #23
In GitLab by @pvdbosch on May 22, 2019, 21:59

mentioned in commit abec9a26d2620d9ed86b6feed230f91867d52023

[2020-01-06 14:53] #23 closed

[2020-01-06 14:53] pvdbosch opened #24 "notifications and REST"
In GitLab by @pvdbosch on Aug 9, 2018, 11:38

experiences from eBox? (Willem)

[2020-01-06 14:53] pvdbosch commented on #24
In GitLab by @pvdbosch on Aug 9, 2018, 12:31

assigned to @wsalembi

[2020-01-06 14:53] pvdbosch opened #25 "Evaluate OpenAPI tooling"
In GitLab by @pvdbosch on Sep 7, 2018, 16:25

1) Test senya.io, stoplight.io, apicurio or any other interesting tool to author swagger files.

2) Evaluate code generation maven plugins: openapi-generator vs swagger codegen.
Recommend one?

Comparison (WIP):

Swagger codegen:
* specifying explicitely `additionalProperties: true` was required to let generated Java classes support additional properti

[2020-01-06 14:53] pvdbosch commented on #25
In GitLab by @pvdbosch on Oct 5, 2018, 12:01

Most authoring tools seem to have difficulties with definitions referenced from external YAML files.

Some feedback from our developers:
* senya.io: IntelliJ plugin.
  * Problems with external schemas in graphical view, though supported in text view (i.e. links can be followed)
  * marks some properties as faulty while they're valid OpenAPI 2.0: the 'e

[2020-01-06 14:53] pvdbosch commented on #25
In GitLab by @pvdbosch on Nov 23, 2018, 16:21

Latest 0.20 version of Senya works fine now. Tested with socialStatus API, with external files, both in text as UI mode.

I reported the bug concerning examples (as mentioned in #28) in Swagger and it got fixed.
Senya follows closely the OpenAPI 2.0 spec, which means that you have to use the MIME type as key of each example, matching one of the 'produ

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Dec 17, 2018, 11:54

KaiZen as eclipse plugin

SwaggerUI watcher https://github.com/moon0326/swagger-ui-watcher views in browser

can be added to list of tools in style guide

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @wsalembi on Jan 20, 2019, 12:09

Senya Editor for Intellij IDEA has become a paid plugin for https://senya.io/release-notes-1-0-0/ (48 euro/year)

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Jan 22, 2019, 10:15

updated the styleguide:
* split tools and references section, add some more description
* mention Senya is commercial
* add Zalando's IntelliJ plugin

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Jan 22, 2019, 11:53

changed title from **evaluate {-tools to author swagger files-}** to **evaluate {+swagger tooling+}**

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Jan 22, 2019, 12:11

Broadening scope of the issue to also include other tooling, like codegen.

For code generation from swagger, there are two plugins:
* swagger-codegen: https://github.com/swagger-api/swagger-codegen
* openapi-generator from OpenAPITools: https://github.com/OpenAPITools/openapi-generator (= fork of swagger-codegen)

Both still seem under active develop

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Feb 26, 2019, 13:50

Added WIP comparison between codegen plugin to issue description, everyone can contribute.

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Feb 26, 2019, 13:50

changed the description

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Feb 27, 2019, 12:14

changed the description

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Feb 27, 2019, 12:17

Another codegen issue encountered with InvalidParamProblem; arrays of types cause property to be ignored during code generation:

[code]

(from new problem-v1.yaml)

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Feb 27, 2019, 12:47

mentioned in commit 229c7e74dba6e1947003ffaff54724d73476b99d

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Mar 11, 2019, 09:50

Omitting `type` on the `value` property; this works with code generation to get Object type.

Having no `type` is valid [OpenAPI 2.0](https://stackoverflow.com/questions/47374980/schema-object-without-a-type-attribute-in-swagger-2-0) even though KaiZen (and maybe some other editors) indicates it as an error.

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Mar 11, 2019, 10:05

changed the description

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Mar 11, 2019, 10:08

added some more remarks on codegen plugin, after some testing.

The openapi-generator generates some weird warnings, but they can be ignored it seems.

[code]

For the `additionalProperties`, maybe it's sufficient to create a subclass of the generated class in most cases?

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Mar 13, 2019, 14:05

mentioned in commit 7abe48a6b800c15a051fe547cfaa2d05ac4af27c

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Mar 13, 2019, 14:57

mentioned in commit 11c61873b9c8cdf688b0ab32c6aa1a4aef63f219

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit 9c3e545b7ee3e944566a9450a08eb7adc3f48e62

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit c373a75ab5d6728c9bbe68fec717885da4dcf789

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit a9ffd2dd5f6570a218b1e63a38ad5947d28e51f3

[2020-01-06 14:54] pvdbosch commented on #25
In GitLab by @pvdbosch on Jun 20, 2019, 09:39

changed the description

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @ehealth-eh053 on Jun 24, 2019, 11:09

[code]

When using the openapi-generator-maven-plugin the generated source doesn't use the correct code for the default errors.
[code]

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @jimmy.praet on Jul 15, 2019, 11:56

I have some issues with the openapi-generator-maven-plugin (3.3.4):

[code]

This generates the following:

[code]

The `@DefaultValue("new ArrayList<>()")` is problematic. When I don't supply a value for the parameter, I get a List<String> in my implementation method containing 1 string element "new ArrayList<>()".

I tried configuring a default i

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @pvdbosch on Aug 8, 2019, 12:22

Another pitfall encountered with generated code is that JAX-RS always returns a default http status code (200 for OK with body, 204 for OK without body).

The status codes in the Swagger `ApiResponse` annotations are ignored by JAX-RS; they're only used when a swagger file is generated from the code when doing code-first development.

To allow for othe

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @pvdbosch on Aug 23, 2019, 11:13

changed the description

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @pvdbosch on Aug 23, 2019, 11:15

changed the description

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @pvdbosch on Aug 23, 2019, 11:15

Some results of tests with openapi generator 4.1.0 added to issue description:

* 4.0.3 and 4.1.0 generate useless *AllOf classes for Swagger types inlined in an `allOf` composition. They are imported in the composite class but not used
* 4.1.0: Java classes don't seem to use inheritance anymore when using `allOf` with a referenced type (not yet teste

[2020-01-06 14:55] pvdbosch commented on #25
In GitLab by @pvdbosch on Aug 23, 2019, 12:12

changed the description

[2020-01-06 14:55] pvdbosch opened #26 "gCloud schemas for common business data"
In GitLab by @pvdbosch on Oct 5, 2018, 16:26

create and validate JSON Schemas for most common functional types, based on output of the gCloud functional workgroup.

Primarily, we can standardize simple types with a well defined format (e.g. ssin, cbe number, quarter, month, ...). Object types are most of the time too context-dependent to be standardized (e.g. the selection of properties are inclu

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Oct 5, 2018, 16:27

changed the description

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Oct 5, 2018, 16:41

The proposed domains currently used for schemas to regroup types are loosely based on the Ontology name in the vocabularies:
* person
  * defines Gender
* location
  * defines country codes
  * address data types be added, e.g. streetcode, municipality code, ... both BeSt and NIS codes
* personidentifier
  * defines Nrn, Ssin
* organizationidentifier

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Oct 18, 2018, 21:25

mentioned in commit 6a61e5ad450d4898e2572eadcfd5ee24fa55d6fa

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Nov 26, 2018, 17:17

Update after October meeting :
* the domains are structured with subdomains e.g. person/identifier instead of personidentifier.
  * the subdomains and parent domains are versioned independently from each other: e.g. person/v1  and person/identifier/v1
* CbeNumber type was added
* American variant of English is recommended rather than British (Organiza

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Jan 3, 2019, 14:03

updated schemas on git master:
* Nrn was removed, Ssin type can be used in all cases (but property name may be "nrn" with Ssin type)
* added time schema (above specified as temporal)
* added money schema
* renamed organization identifiers, cbe number disallows 9 as first digit

To do:
* validation, especially the changes above
* discuss how to integrat

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Mar 13, 2019, 14:35

After validation in functional WG:

* type descriptions to be synchronized with the ones from the vocabularies excel
* NSSO registration number: to be discussed with Veronique Adam.
  At CBSS: supports 0\d{9} and 51\d{8}. The ones starting with 51 are temporary ones.
  For the former ones, representation without leading zero may be more common.
  Whic

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Mar 13, 2019, 14:36

mentioned in commit 5a4466cedb7407723d8ee1d74e0179d66adafa2d

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Mar 13, 2019, 14:57

There is no support in code generators for custom formats (decimal, email, uuid).
So we probably should define our own types.

I added a proposition for UUID to common-v1beta.yaml:
[code]

This type disallows capital case A-F for the hex characters (it's stricter than what we currently use at CBSS).

For email, the multitude of regexps in use are a bi

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit f028260aa1cd7dc3db55e244556a4c90bb7a30c2

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Oct 29, 2019, 12:36

mentioned in commit a4e0bf5ac7ad7fde6a7ef3ad4f3ed20952ff78f9

[2020-01-06 14:55] pvdbosch commented on #26
In GitLab by @pvdbosch on Dec 9, 2019, 13:39

changelog since last review on REST guide WG:
* organization/identifier:
  * EstablishmentNumber => EstablishmentUnitNumber to mach name used by CBE
  * added NssoNumber and NssoNumberIncludingProvisional
* time:
  * rename "Quarter" to "YearQuarter" where appropriate
  * rename OpenEnded(YearQuarter)Period to (YearQuarter)PeriodOptionalEnd because "Op

[2020-01-06 14:56] pvdbosch commented on #26
In GitLab by @pvdbosch on Jan 6, 2020, 15:18

feedback from last WG:
* add links to full definitions from functional WG => #46 created
* time: quarters - specify that these are [quarters in the Gregorian calendar year](https://en.wikipedia.org/wiki/Calendar_year#Quarters), not Academic quarters or other
* time: add YearMonth data type
* following types can graduate from v1beta to v1:
  * common: U

[2020-01-06 14:56] pvdbosch opened #27 "publish gCloud common JSON schemas"
In GitLab by @pvdbosch on Oct 5, 2018, 16:48

* in gCloud artifactory in a zip
* over internet as YAML (also as JSON?)
  * with navigation to subdirectories

[2020-01-06 14:56] pvdbosch commented on #27
In GitLab by @pvdbosch on Oct 9, 2018, 12:13

To reduce maintenance burden, the schemas should be maintained from a single source.
To publish them on the gcloud site in both YAML and JSON and with an index page, it might be easier to publish it using a dynamic application (e.g. JBoss using JAX-RS) rather than static pages.

* URL structure (as discussed in #29):

[code]
* redirection to latest ver

[2020-01-06 14:56] pvdbosch commented on #27
In GitLab by @pvdbosch on Jan 3, 2019, 14:24

Questions:
* OK to continue with a dynamic site for , e.g. provided by JBoss/JAX-RS?
* where to publish?
  * https://gcloud.belgium.be/rest/schemas/ ?
  * https://gcloud.belgium.be/rest/ already taken be styleguide. To be moved?
* process to publish on gcloud artifactory?

[2020-01-06 14:56] pvdbosch commented on #27
In GitLab by @pvdbosch on Jan 23, 2019, 15:23

@smals\-svr @smals\-wisa @VirginieHayot @smals\-stede @michael.debeule

I'm seeking some feedback on the packaging of the artifacts deployment to gCloud artifactory.
I've attached the sources and the built artifacts of my working version.
* Each (sub)domain+version is currently a separate maven and git projects, so no multi-module project. We currentl

[2020-01-06 14:56] pvdbosch commented on #27
In GitLab by @pvdbosch on Feb 27, 2019, 16:38

Discussion on WG meeting 25/2 on management of dependencies from a Swagger file to common reusable Swaggers; either:
1) use a dependency to a maven zip artifact containing the swagger file (+ optional dependencies)
2) $ref to http location of the published swagger file, either link to the major version or major+minor version
3) some combination of the

[2020-01-06 14:56] pvdbosch opened #28 "review pilot APIs"
In GitLab by @pvdbosch on Oct 18, 2018, 21:09

Review first APIs developed using styleguide:
* mock companies API (Willem)
* socialStatuses (Peter)

If needed, update styleguide based on results.

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on Nov 21, 2018, 12:12

socialStatus API was reviewed on meeting of 19/11:
* /persons/{ssin}/socialStatuses rather than /socialStatuses/{ssin}
* SelfLink.yaml to add to common gCloud types
* can not make API-specific Problem types dereferencable and identical across environments (see reopened issue #23 error handling)
* can not be opened in Senya editor. Examples properties

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on Jan 22, 2019, 12:12

mock companies API will be reviewed as part of issue #19.

eHealth keys API briefly introduced during January 2019 WG. @VirginieHayot , could you attach the API as file to this issue?
Some tooling issues were encountered with additionalProperties. These are added to #25.

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @VirginieHayot on Feb 14, 2019, 10:20

In attachment, the analysis and swagger for KeyDepot, EtkDepot and KGSS.
Hannes De Clercq will be present in our next meeting, to explain the interfaces!

[ETKDepot_Mobile_REST_-_Analysis_v0.1.pdf](/uploads/c2dd54bbfa7c4d19ae30d9c553bd7b98/ETKDepot_Mobile_REST_-_Analysis_v0.1.pdf)

[Depot_Interface_REST_-_Analysis_v0.4.pdf](/uploads/9d23e2ebb2576

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @VirginieHayot on Feb 14, 2019, 12:26

I'm also adding here the swagger for ehBox, as this will be an important service for eHealth.
We already saw that they do not use the "problem.json" spec and we're having some questions around the bulk methods to be able to delete x resources at once!
[eHbox_V2_Interface_REST_-_Analysis_v0.1.pdf](/uploads/b30f756eba4a67b4aaa4f621b6a33719/eHbox_V2

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on Feb 26, 2019, 11:59

assigned to @pvdbosch

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on Feb 26, 2019, 12:13

Versions of the swaggers with my feedback added, as discussed yesterday:

[swagger-ehbox.yaml](/uploads/9971d43c8157e00afa84b9d697ed0b0e/swagger-ehbox.yaml)

[swagger-ETKdepot.yaml](/uploads/9e7daf3e52399207cbae84dd3b0627f0/swagger-ETKdepot.yaml)

Results of review yesterday:
* what should be result of creation with POST if resource already exists?

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on May 12, 2019, 21:47

mentioned in commit 05f5cb075f9cfa9ca7355bcbe0e489357af14ef1

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @wsalembi on May 13, 2019, 10:30

closed

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on May 13, 2019, 13:49

mentioned in commit 74cca384cc4e0279adc3ece9d34af851e45a22c4

[2020-01-06 14:56] pvdbosch commented on #28
In GitLab by @pvdbosch on May 21, 2019, 17:17

mentioned in commit 9f5c2aa1a17262f7b4a77502f021ac8e4b00e92c

[2020-01-06 14:56] #28 closed

[2020-01-06 14:56] pvdbosch opened #29 "organization of JSON Schema files"
In GitLab by @pvdbosch on Dec 12, 2018, 19:55

Determine guidelines to organize types and JSON schema files.

**Context**

Current recommendation (discussions in #26 and #20):

* `<domain>/<version>/<TypeName>.yaml`
* `<domain>/<subdomain>/<version>/<TypeName>.yaml`

Examples:

* common/v1/Problem.yaml
* common/v1/HttpLink.yaml
* person/v1beta/Gender.yaml
* person/identifier/v1beta/Ssin.yaml

Orig

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Dec 12, 2018, 19:56

changed the description

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Dec 17, 2018, 11:24

assigned to @pvdbosch

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Dec 17, 2018, 15:46

Decided in the December meeting to repeat the (sub)domain and version in the file name with dash seperator:
- `<domain>/<version>/<domain-version>.yaml`
- `<domain>/<subdomain>/<version>/<domain-subdomain-version>.yaml`

Example:
* common/links/v1/common-links-v1.yaml
* common/v1/common-v1.yaml
* problem/v1/problem-v1.yaml

Rationale:
* having folder

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Dec 21, 2018, 14:41

schemas and styleguide are updated (on git, not published yet) according to decisions reached on this issue

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Jan 3, 2019, 14:34

also added some parameters to schemas:
* in common-v1.yaml: LangQueryParameter and PageQueryParameter
* in person-identifier-v1beta.yaml: SsinPathParameter

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Jan 22, 2019, 13:49

mentioned in commit 1359e2ef2dc02065cd1d7ce3c204f8ee7c66e970

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on Jan 22, 2019, 14:40

closed

[2020-01-06 14:57] pvdbosch commented on #29
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit 9e444afe636325a36ed7d17e273d7bbfd9474bea

[2020-01-06 14:57] #29 closed

[2020-01-06 14:57] pvdbosch opened #30 "return only subset of resource (select/fields query param)"
In GitLab by @pvdbosch on Jan 22, 2019, 11:18

Standardize query parameter to select a subset of resource representation to be returned.
Issue raised by @VirginieHayot , discussed in January 2019 WG.

Name of parameter: `fields` or `select`?
* in JSON, `properties` is used usually instead of `fields`
* `fields` is used more in industry APIs
* `select` might be more descriptive
For the moment, `sel

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on Jan 22, 2019, 14:03

changed the description

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on Jan 22, 2019, 14:14

mentioned in commit 1377422c6f37f21fc33eae1c385e51b99825d921

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on Feb 28, 2019, 09:30

changed the description

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on Feb 28, 2019, 09:46

I found one single copy of the zalando json-fields library source code:
   https://github.com/marembo2008/json-fields

It's a 0.5.2-SNAPSHOT, a bit earlier than the latest release in maven central, and also has no commits since 4 years.

I'd prefer to leave this out of the REST styleguide because it's unmaintained, until a newer version is built on gC

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on Feb 28, 2019, 10:15

mentioned in commit e571191c8a214a7658a53f9eda3627bcfae06403

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit 66e3973c74e08dc92594f11776f81763f7041312

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @pvdbosch on May 10, 2019, 09:26

mentioned in commit 535af8dfd034c164c38cd919bc19311d09dec3a8

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @wsalembi on May 13, 2019, 11:16

mentioned in commit f4e9dc970eb38f51838f64b525383049310dc7b8

[2020-01-06 14:57] pvdbosch commented on #30
In GitLab by @wsalembi on May 13, 2019, 11:17

closed

[2020-01-06 14:58] #30 closed

[2020-01-06 14:58] pvdbosch opened #31 "Impact analysis of introducing OpenAPI v3"
In GitLab by @wsalembi on May 13, 2019, 11:02

[2020-01-06 14:58] pvdbosch commented on #31
In GitLab by @pvdbosch on May 17, 2019, 20:08

WIP list of impact on styleguide:

* nullable support => something better than empty placeholder type for JSON Merge Patch?
* media type possible per operation => remove default produces: application/problem+json?
* support for multiple (simple) types => E.g. embedded additionalProperties
* more ways to provide examples in openapi => update guidelines

[2020-01-06 14:58] pvdbosch opened #32 "GraphQL: experience, integrate into styleguide?"
In GitLab by @wsalembi on May 13, 2019, 11:25

[2020-01-06 14:58] pvdbosch commented on #32
In GitLab by @wsalembi on May 13, 2019, 11:26

https://www.meetup.com/BruJUG/events/259704293/

[2020-01-06 14:58] pvdbosch opened #33 "Compare G-Cloud to Digipolis style guide"
In GitLab by @wsalembi on May 13, 2019, 11:28

https://github.com/digipolisantwerpdocumentation/api-requirements

*  Complete or adapt G-Cloud style guide?

[2020-01-06 14:58] pvdbosch commented on #33
In GitLab by @pvdbosch on Jun 19, 2019, 12:09

Feedback from Steve:

Digipolis (differences between our guidelines)

- `Content-language` et `Accept-language` headers instead of `lang` query param
- query parameters are unique in their case (coma separated values); not clear in our case (coma separater values or multiple times the same query parameter ?)
- `fields` vs `select`
  Example: `?fields=

[2020-01-06 14:58] pvdbosch commented on #33
In GitLab by @pvdbosch on Jun 19, 2019, 12:18

* hyphen-case in URLs instead of camelCase
* duration format mentioned "P0003-04-06T12:00:00". But ISO8601 has also another format and only mentions this one as an alternative format that 'may be used by agreement between the communicating parties'.
Common is: `P3Y6M4DT12H30M5S`
* some additional constraints on Problem JSON details:
  * a "code" field

[2020-01-06 14:58] pvdbosch commented on #33
In GitLab by @pvdbosch on Aug 8, 2019, 15:12

**Full comparison** (WIP)

Added to gCloud REST guide from Digipolis one:
* JSON property naming als in data types: Geen dot gebruiken in namen, mag niet met cijfers beginnen

Specs in gCloud not in DigiPolis:
* i18n: in addition to http headers, also LocalizedString and lang query param support
  * note: digipolis guide sometimes uses wrong casing: Ac

[2020-01-06 14:58] pvdbosch commented on #33
In GitLab by @pvdbosch on Aug 9, 2019, 10:42

mentioned in commit 05914e56a504c3df42a738d6c4a4f00766fb49a2

[2020-01-06 14:58] pvdbosch commented on #33
In GitLab by @pvdbosch on Oct 29, 2019, 12:42

Informatie Vlaanderen is preparing publication of their REST guidelines: https://test.data.vlaanderen.be/doc/richtlijnen/iv-rest-api-richtlijnen/

In December 2018, they made a comparison of REST API standards:
[REST_API_Standaard_vergelijking.docx](/uploads/436549bb7807d9e6675f49e4c6b437e2/REST_API_Standaard_vergelijking.docx)

They'll be participati

[2020-01-06 14:58] pvdbosch commented on #33
In GitLab by @pvdbosch on Nov 14, 2019, 16:15

mentioned in commit 7a32c1abe522db6c6bf9ea8344199036e0328082

[2020-01-06 14:58] pvdbosch opened #34 "Evaluate styleguide compliance validation tooling"
In GitLab by @pvdbosch on May 17, 2019, 19:24

Provide tooling support to validate the compliance of OpenAPI to the styleguide, for checks that can be automated.

There was a PoC "styleguide-validationrules", but it was put on hold.
We're currently looking at using [spectral](https://stoplight.io/open-source/spectral).

Unsolved issues encountered when trying out the styleguide-validationrules:

*

[2020-01-06 14:58] pvdbosch commented on #34
In GitLab by @pvdbosch on May 17, 2019, 19:50

I also got some weird error on problem-v1.yaml:

`[ERROR] DefinitionSemanticError at InvalidParamProblem.invalidParams.items: reference InvalidParam cannot be found`

`[ERROR] DefinitionSemanticError at InvalidParamProblem: reference Problem cannot be found`

I can't find the cause of this. Error seems to disappear when removing the allOf construct in

[2020-01-06 14:58] pvdbosch opened #35 "styleguide, schemas and vocabularies platforms"
In GitLab by @pvdbosch on Jun 18, 2019, 21:31

On the 'plenaire', the issue on how we best manage and publish our work was brought up again.

Move to GitHub For source control and issue management:
* accessibility:
  * gcloud gitlab is on a closed network
  * hurdle to let regions get access, private organizations, and originally hurdle for NR as well
* visibility: using github increases visibilit

[2020-01-06 14:58] pvdbosch commented on #35
In GitLab by @pvdbosch on Jun 18, 2019, 21:52

changed the description

[2020-01-06 14:58] pvdbosch commented on #35
In GitLab by @pvdbosch on Nov 28, 2019, 13:00

changed the description

[2020-01-06 14:58] pvdbosch commented on #35
In GitLab by @pvdbosch on Nov 28, 2019, 13:06

On next WG meeting, I'd like to decide on the point of source control and issue management, because gCloud GitLab is difficult for regions and others to participate.

@marc.bruyland : could we consider moving to a new "rest-guide" repo on https://github.com/belgif ?
@wsalembi : is it possible to configure gCloud jenkins to build from this location?

[2020-01-06 14:58] pvdbosch commented on #35
In GitLab by @pvdbosch on Dec 11, 2019, 15:00

migrate to github, I will contact Bart Hanssens to create repo.
Issues: manual migration or scripted?

Jenkins job : check if we can access github, if not temporarily sync both.

Access: one access manager per institution will be added. I'll sent an e-mail once repo is ready.

[2020-01-06 14:59] pvdbosch commented on #35
In GitLab by @pvdbosch on Dec 12, 2019, 16:59

I did a test run of the migration to github using this script: https://github.com/piceaTech/node-gitlab-2-github

I had to modify a bit for compatibility with the fediap http proxy, but then got it working.

Test run migration is on : https://github.com/kszbcss/rest-guide-migration

Results are quite good:
* issues are migrated
  * issue numbers are p

[2020-01-06 14:59] pvdbosch opened #36 "Standardized problem types don't include all allowed Status Codes"
In GitLab by @smals-chlo on Nov 12, 2019, 16:21

In the Rest Guidelines, standardized problem types are defined for Status Codes 400, 401, 403, 404 & 429.
https://www.gcloud.belgium.be/rest/#standardized-problem-types

But some other allowed Status Codes could also be standardized: 405, 406, 412 & 415 as well as the 5XX error codes.

[2020-01-06 14:59] pvdbosch commented on #36
In GitLab by @pvdbosch on Nov 13, 2019, 17:35

Hi Chrysoula,

The idea is to use Problem JSON only when you can give additional information than provided by the HTTP status code.

One could argue that, in general, the status codes you mentioned are explanatory enough. There may be specific use cases where additional information could be useful, which could be modeled as API-specific problem types.

[2020-01-06 14:59] pvdbosch commented on #36
In GitLab by @wsalembi on Nov 14, 2019, 09:17

@pvdbosch My intention was to always return problem responses for any 4xx/5xx error status. Even if they just contain default fields, which brings a bit of consistency in any error returned by the API. The client applications can just inspect the problem response.

We have a JAX-RS default exception mapper in the backends for that purpose and on gatew

[2020-01-06 14:59] pvdbosch commented on #36
In GitLab by @pvdbosch on Nov 14, 2019, 11:58

An API Gateway or an Apache RP may also generate some of these error responses without a JSON Problem body, before arriving in the the application code.
So I'd think the client would need to be able to treat status codes without problem response anyway, and we can at most recommend API providers to try to return JSON Problems when possible.

I'll add

[2020-01-06 14:59] pvdbosch opened #37 "optimistic locking with ETags"
In GitLab by @pvdbosch on Nov 14, 2019, 12:11

When creating or updating resources it may be necessary to expose conflicts and to prevent the 'lost update' or 'initially created' problem. Following RFC 7232 "HTTP: Conditional Requests" this can be best accomplished by supporting the ETag header together with the If-Match or If-None-Match conditional header.

See https://opensource.zalando.com/rest

[2020-01-06 14:59] pvdbosch opened #38 "Use static rule identifiers"
In GitLab by @pvdbosch on Nov 14, 2019, 12:17

Change the REST guide to use static rule numbers instead of autogenerated ones.

This was decided in work group of June 2019.

[2020-01-06 14:59] pvdbosch opened #39 "problem type identifier"
In GitLab by @pvdbosch on Nov 14, 2019, 14:02

Proposal to add a standard "code" property to each Problem JSON.

This is inspired on the [DigiPolis Antwerp REST guide](https://github.com/digipolisantwerpdocumentation/api-requirements#error-model-1), but we'd use a more human readable problem code.

* "code" would be a shorter and environment-independent identifier of the type of problem.
* "type"

[2020-01-06 14:59] pvdbosch commented on #39
In GitLab by @pvdbosch on Nov 14, 2019, 14:37

changed the description

[2020-01-06 14:59] pvdbosch commented on #39
In GitLab by @pvdbosch on Nov 14, 2019, 14:38

changed title from **{-environment-independent -}problem code** to **problem code**

[2020-01-06 14:59] pvdbosch opened #40 "update tables with http status codes and verbs"
In GitLab by @pvdbosch on Nov 14, 2019, 15:48

Our REST guide sections about http status codes and methods could be improved.
E.g. tables summarizing giving an overview like these 2 tables:
   https://github.com/digipolisantwerpdocumentation/api-requirements#http-verbs

Maybe some overlap can be removed of the HTTP methods section with the Resources (Document/Collection) sections.
They're not alwa

[2020-01-06 14:59] pvdbosch commented on #40
In GitLab by @pvdbosch on Nov 25, 2019, 10:46

marked #43 as a duplicate of this issue

[2020-01-06 14:59] pvdbosch commented on #40
In GitLab by @pvdbosch on Nov 25, 2019, 10:50

Some more inconsistenties of status codes, listed by @smals-chlo (merged from #43 ).

In the Rest guidelines, there are 2 sections describing the allowed https codes per method:

A) https://www.gcloud.belgium.be/rest/#status-codes
Column: Operation

B) https://www.gcloud.belgium.be/rest/#http-methods
Below each method

It seems that some allowed codes

[2020-01-06 14:59] pvdbosch opened #41 "API naming conventions"
In GitLab by @pvdbosch on Nov 14, 2019, 16:21

We haven't got any naming conventions for API names yet.

Singular noun describing domain that the API covers? lowerCamelCase?

[2020-01-06 14:59] pvdbosch opened #42 "REST guide terminology: document vs. entity and filter vs. search"
In GitLab by @pvdbosch on Nov 20, 2019, 15:01

During presentation of the REST guide to Flanders, there was some feedback on naming:

* resource archetype "Document": would "Entity" be a better name?
  * an entity implies something with an identity, while "document" is like a volatile message
* "Filtering" on collections: would "searching" be better?
  * the goal is _finding_ items within collecti

[2020-01-06 14:59] pvdbosch commented on #42
In GitLab by @pvdbosch on Nov 20, 2019, 15:01

changed the description

[2020-01-06 14:59] pvdbosch opened #43 "Status codes for each HTTP Method"
In GitLab by @smals-chlo on Nov 22, 2019, 16:55

Hello,
In the Rest guidelines, there are 2 sections describing the allowed https codes per method:

A) https://www.gcloud.belgium.be/rest/#status-codes
Column: Operation

B) https://www.gcloud.belgium.be/rest/#http-methods
Below each method

It seems that some allowed codes are missing and also the info is not always consistent in the 2 sections.

S

[2020-01-06 14:59] pvdbosch commented on #43
In GitLab by @pvdbosch on Nov 25, 2019, 10:46

Hi Chrysoula, thanks for listing the inconsistencies. We were already looking to update the lists of status codes throughout the guide, I'm merging this with that task.

[2020-01-06 14:59] pvdbosch commented on #43
In GitLab by @pvdbosch on Nov 25, 2019, 10:46

marked this issue as a duplicate of #40

[2020-01-06 14:59] pvdbosch commented on #43
In GitLab by @pvdbosch on Nov 25, 2019, 10:46

closed

[2020-01-06 15:00] #43 closed

[2020-01-06 15:00] pvdbosch opened #44 "Rest Guidelines: List of Json accepted properties"
In GitLab by @smals-chlo on Dec 2, 2019, 15:31

In the REST Guidelines (https://www.gcloud.belgium.be/rest/), it is mentioned that:
"Specifications of the API SHOULD be provided using OpenAPI 2.0 (aka Swagger). OpenAPI 2.0 uses the OpenAPI Schema Object to describe the JSON representation of resources, which is a variant of the JSON Schema draft 04 standard."

I would find it useful to also add a

[2020-01-06 15:00] pvdbosch commented on #44
In GitLab by @smals-chlo on Dec 2, 2019, 15:32

changed the description

[2020-01-06 15:00] pvdbosch commented on #44
In GitLab by @smals-chlo on Dec 2, 2019, 15:34

changed the description

[2020-01-06 15:00] pvdbosch commented on #44
In GitLab by @pvdbosch on Dec 3, 2019, 12:41

mentioned in commit 08bf450d2857916209db595b4d2f8684f3d14643

[2020-01-06 15:00] pvdbosch commented on #44
In GitLab by @pvdbosch on Dec 3, 2019, 13:41

I'd rather avoid copy-pasting sections from the OpenAPI 2.0 standard in our REST guide, but I added direct links to the specific sections from the standard and explicitly mentioned the incompatibility with JSON Schema in 08bf450d.

[2020-01-06 15:00] pvdbosch commented on #44
In GitLab by @pvdbosch on Dec 3, 2019, 13:41

closed

[2020-01-06 15:00] #44 closed

[2020-01-06 15:00] pvdbosch opened #45 "FHIR standards"
In GitLab by @pvdbosch on Dec 6, 2019, 12:00

FHIR (https://www.hl7.org/fhir) is an international standard on Health data exchanges.

It isn't compatible with the REST guidelines (dynamic model based on metadata, no swagger, other problem types...).
How to deal with it? When can it be used?

[2020-01-06 15:00] pvdbosch opened #46 "link from data types to vocabularies"
In GitLab by @pvdbosch on Dec 11, 2019, 21:01

Most gCloud business data types in Swagger/OpenAPI are related to concepts defined in functional work group.
The functional work group provides artifacts with more information about the concept.
It would be useful to add links to these definitions.

First discuss how to these links would look like, in a manner that they are clear and easy to keep upda

[2020-01-06 15:00] pvdbosch opened #47 "ICEG URI standard vs REST services"
In GitLab by @pvdbosch on Dec 11, 2019, 21:08

ICEG has a draft of a URI standard: https://github.com/belgif/thematic/blob/master/URI/iceg_uri_standard_draft_TO_EDIT.md

This draft URI standard mentions REST services:
https://github.com/belgif/thematic/blob/master/URI/iceg_uri_standard_draft_TO_EDIT.md#rest-service-urls-are-out-of-scope

It also mentions resources of type "doc" to retrieve a repre

[2020-01-06 15:00] pvdbosch opened #48 "Resolve "caching guidelines" - [merged]"
In GitLab by @stephane-dereppe on May 7, 2018, 12:50

_Merges 11-caching-guidelines -> master_

Closes #11

[2020-01-06 15:00] pvdbosch commented on #48
In GitLab by @stephane-dereppe on May 7, 2018, 14:08

added 1 commit

* 2d902fdd - add recommandations over cache headers and Vary header

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/1/diffs?diff_id=660&start_sha=3e9384998975ffc73df97a45cb615fe0d47c40f4)

[2020-01-06 15:00] pvdbosch commented on #48
In GitLab by @pvdbosch on May 28, 2018, 17:59

added 1 commit

<ul><li>595150ec - move caching to performance chapter, elaborate Cache-Control, ETag</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/1/diffs?diff_id=732&start_sha=2d902fdd65072439054dcc671a76227bad97f2d1)

[2020-01-06 15:00] pvdbosch commented on #48
In GitLab by @pvdbosch on May 28, 2018, 18:02

unmarked as a **Work In Progress**

[2020-01-06 15:00] pvdbosch commented on #48
In GitLab by @pvdbosch on May 28, 2018, 18:02

mentioned in commit f3e303942ea70c1b67f97a25cb65cb4ce1173419

[2020-01-06 15:00] pvdbosch commented on #48
In GitLab by @pvdbosch on May 28, 2018, 18:02

merged

[2020-01-06 15:01] #48 closed

[2020-01-06 15:01] pvdbosch opened #49 "Resolve "long-running tasks" - [merged]"
In GitLab by @stephane-dereppe on Jun 25, 2018, 13:27

_Merges 17-long_running_tasks -> master_

closes #17

Add page to document long running task.

@pvdbosch I don't know where to include it in the rest style guide.

[2020-01-06 15:01] pvdbosch commented on #49
In GitLab by @pvdbosch on Jun 28, 2018, 13:52

added 2 commits

<ul><li>75cb0775 - Review long running tasks content</li><li>5c352fbe - move long running tasks into document.adoc, update changelog</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/2/diffs?diff_id=946&start_sha=a1423cc98682727a3a1a08f36e20a4f38811ef0b)

[2020-01-06 15:01] pvdbosch commented on #49
In GitLab by @pvdbosch on Jun 28, 2018, 15:58

added 1 commit

<ul><li>88816777 - changes to LRT status format, add LongRunningTaskStatus JSON Schema</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/2/diffs?diff_id=947&start_sha=5c352fbeca083b517b01d6f74889c2d567661b40)

[2020-01-06 15:01] pvdbosch commented on #49
In GitLab by @pvdbosch on Jun 28, 2018, 16:01

changed the description

[2020-01-06 15:01] pvdbosch commented on #49
In GitLab by @pvdbosch on Jun 28, 2018, 16:02

merged

[2020-01-06 15:01] pvdbosch commented on #49
In GitLab by @pvdbosch on Jun 28, 2018, 16:02

mentioned in commit a5c5f521f8d86118cdf4a8b61fae471bf67b1a86

[2020-01-06 15:01] #49 closed

[2020-01-06 15:02] pvdbosch opened #52 "#23 detail pages for generic problem details - [merged]"
In GitLab by @wsalembi on May 10, 2019, 16:48

_Merges feature-23 -> master_

[2020-01-06 15:02] pvdbosch commented on #52
In GitLab by @pvdbosch on May 11, 2019, 19:17

added 1 commit

<ul><li>d53506fd - consistency with schemas for enterprise(Number) and latest InvalidParamProblem</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/5/diffs?diff_id=2412&start_sha=05116f06a96d2688ef1d09723b1d8070528c4665)

[2020-01-06 15:02] pvdbosch commented on #52
In GitLab by @pvdbosch on May 11, 2019, 19:24

I guess type as relative path then here to avoid env-dependent host names to be part of the identifier?

[2020-01-06 15:02] pvdbosch commented on #52
In GitLab by @pvdbosch on May 11, 2019, 19:25

/refData/problems/{problemId} might also be considered

[2020-01-06 15:02] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 10:48

added 1 commit

<ul><li>e6b28c68 - #23 review error codes</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/5/diffs?diff_id=2425&start_sha=d53506fd3d591416aad29dd36a10289247544ee6)

[2020-01-06 15:02] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 11:16

added 1 commit

<ul><li>f4e9dc97 - #30 review BNF notation</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/5/diffs?diff_id=2426&start_sha=e6b28c68ce27c42ea424697ab6829b48bf1127e4)

[2020-01-06 15:02] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 13:49

added 1 commit

<ul><li>74cca384 - #28 various updates after review of eHeath APIs</li></ul>

[Compare with previous version](https://git-cicd.gcloud.belgium.be/rest/styleguide/merge_requests/5/diffs?diff_id=2429&start_sha=f4e9dc970eb38f51838f64b525383049310dc7b8)

[2020-01-06 15:03] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 13:52

We decided to keep /problems/{problemId} as a reserved top level resource and not to see it as a type of reference data.

[2020-01-06 15:03] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 13:52

Yes, like that we can overcome the difficulties of the host name changes

[2020-01-06 15:03] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 13:52

resolved all discussions

[2020-01-06 15:03] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 13:53

merged

[2020-01-06 15:03] pvdbosch commented on #52
In GitLab by @wsalembi on May 13, 2019, 13:53

mentioned in commit d7fede0e9992f1ad2a026208de5b9c11f7a2dca6

[2020-01-06 15:03] #52 closed

[2020-01-06 16:08] pvdbosch commented on #35
Migration done. Wiki was migrated manually.

Notes:
* closed GitLab Merge Requests were migrated of which to Git branch didn't exist anymore are migrate to GitHub issues instead of pull requests
* wiki: issue numbers aren't displayed as hyperlinks
* wiki attachments haven't been migrated
* GitLab is still used as a mirror to trigger build & publish to https://www.gcloud.belgium.be/rest/ using gclo

[2020-01-07 11:18] pvdbosch commented on #35
attachments in wiki can be added by adding them to the wiki git repo (https://github.com/belgif/rest-guide.wiki.git) and then linking to them.

[2020-01-07 12:47] pvdbosch commented on #26
validated types were graduated from v1beta to v1 and YearMonth data  type (0195d67ce633f2fe8dca0f26a8ca13b72de515c5) added

[2020-01-07 13:17] pvdbosch opened #54 "compare and reconcile belgif and Flanders REST guidelines"
Informatie Vlaanderen has REST guidelines on:
* https://data.vlaanderen.be/doc/richtlijnen/iv-rest-api-richtlijnen/
* GitHub source: https://github.com/Informatievlaanderen/iv-rest-api-richtlijnen

These are more limited and different than both the DigiPolis and belgif/gcloud ones.

We should try to reconcile the Flanders and belgif/gcloud guidelines. Ideally the Informatie Vlaanderen guidelines c

[2020-01-07 13:27] pvdbosch commented on #33
Discussed in last WG that Informatie Vlaanderen will contact DigiPolis to raise awareness of the belgif/gCloud guide and the comparisons made in this issue.

[2020-01-07 13:32] pvdbosch commented on #13
I agree with @wsalembi , adoption of only the common parts in gCloud REST guide.

[2020-01-07 13:39] pvdbosch commented on #38
anyone up for the task can take this ticket

[2020-01-07 13:41] pvdbosch commented on #39
up for discussion in a next WG

[2020-01-07 14:27] #3 closed

[2020-01-07 16:24] pvdbosch commented on #46
Some ideas:
* use a custom extension property (Swagger allows custom properties starting with 'x-'), for instance x-vocab-uri
  * this would allow some automatic processing by tooling
  * is the URI always dereferencable? Is it where the location where the best documentation is provided?
  * would it be applied at every level of a data type?
* add link in externalDocs
  * only a single external li

[2020-01-15 13:30] pvdbosch commented on #26
In the latest [JSON Schema spec](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.7.3.2), there are predefined formats for uuid and email, which refer to other RFCs without giving regexps. Those formats aren't part of the OpenAPI 2.0/3.0 specs however.

For UUID, our type in common-v1 would validate the example given in the spec (lowercase, with dashes). For email, we

[2020-01-17 09:14] pvdbosch commented on #26
Including a Duration type in "time" schemas was discussed in earlier working groups, but not pursued further because WG members didn't have sufficient use cases for which a common type could be defined.

Rationale:
* [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) defines a standard for duration
* DigiPolis Antwerp includes a duration format of form "P0003-04-06T12:00:00". But ISO8601

[2020-01-17 10:23] pvdbosch commented on #26
added a wiki page on organization of the data types and collobaration with functional WG: https://github.com/belgif/rest-guide/wiki/OpenAPI-data-types . Any feedback is welcome.

[2020-01-21 08:43] pvdbosch commented on #26
At functional WG, there was a request from Smals to add a data type for an IP address (a single one for both ipv4 and ipv6). More info in attached doc.

There is a regexp in the doc that's very long (I think this is ipv6 notation only?). For IPv6 there are a lot of possible notations that can be used for a single address. Do we want to use such a complex expression? Do we allow hexadecimal a-f cha

[2020-01-22 12:02] pvdbosch commented on #47
elaborated further in issue in thematic repo: https://github.com/belgif/thematic/issues/31

[2020-01-22 12:06] pvdbosch commented on #35
styleguide is built by Jenkins from GitHub now. Build is triggered manually, it isn't on-push anymore. But I currently have insufficient permissions to trigger build on Jenkins.

After this is OK, the old gitlab repo can be archived.

[2020-01-22 14:31] pvdbosch commented on #27
None of WG members indicate currently that they would use http URLs to retrieve indivdual OpenAPI files.

We'll try to publish on GitHub as releases + maven repo (maven central or a github maven repo).

[2020-01-22 14:38] bertvannuffelen commented on #13
A draft of an upcomming agreement:
https://tools.ietf.org/id/draft-inadarei-api-health-check-01.html

[2020-01-22 14:43] pvdbosch commented on #13
latest working version: https://inadarei.github.io/rfc-healthcheck/

We'll check if this RFC has some (planned) support in implementations. If not, we'll use the microprofile Health/spring-boot based one.

[2020-01-22 14:49] pvdbosch commented on #25
Willem has good initial experiences with stoplight.io, with support of custom styleguide validations ("spectral" functionality), which can also be used in other tools like maven.

[2020-01-24 11:32] pvdbosch commented on #33
the rest guide will be mentioned on the "werkgroep API richtlijnen" of Vlaanderen (these are on 18/2 and 19/3)

[2020-01-24 11:38] pvdbosch commented on #45
presentation of Virginie on FHIR: [Fhir-intro-RestWG.pptx](https://github.com/belgif/rest-guide/files/4108132/Fhir-intro-RestWG.pptx)

FHIR can be used in context of health-related exchanges where there is a potential benefit of aligning with these standards (e.g. use of 3rd party Health software packages). For REST APIs in other contexts, the rest guide is still recommended.

[2020-01-24 11:38] #45 closed

[2020-01-24 11:58] pvdbosch commented on #27
To properly version the schemas, I'll best move them to a separate GitHub repo.

[2020-01-24 12:04] pvdbosch commented on #25
For the issues with the use of `allOf`, we should open issues on openapi-generator GitHub. If no reaction, we could try to workaround in a customization of the plugin.

Smals provides some handy [customizations (requires gCloud membership)](https://git-cicd.gcloud.belgium.be/rest/openapi-generator).

[2020-01-27 08:44] pvdbosch commented on #34
Investigating if we'd rewrite the validation rules using [spectral](https://stoplight.io/open-source/spectral) as tool, which is supported in stoplight studio.

[2020-01-27 09:06] pvdbosch commented on #27
Some open issues when publishing the schemas:
* which open source license? I'd suggest Apache License 2.0. ([comparison of open source licenses](https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses)). We could apply it to the rest-guide as well.
* name of the project: openapi-schemas?
* maven groupId: io.github.belgif.openapi-schemas ?
  * choosing io.github groupId [

[2020-01-27 09:34] pvdbosch commented on #39
on a related note: an instance not in URI format doesn't validate (in stoplight)
`    "instance": "d9e35127-e9b1-4201-a211-2b52e52508df"`

I've changed the example in common-v1.yaml to the following to make it validate:
`    "instance": "urn:uuid:d9e35127-e9b1-4201-a211-2b52e52508df"`

This is a standardized URN format for UUIDs

[2020-01-29 16:55] pvdbosch commented on #13
About the RFC, I found following related github issues
*  alignment with spring-boot: https://github.com/spring-projects/spring-boot/issues/11706
*  alignment with microprofile:
** https://github.com/eclipse/microprofile-health/issues/150
** https://github.com/inadarei/rfc-healthcheck/issues/24
** https://github.com/eclipse/microprofile-health/issues/110

So Spring Boot rejected it because lack of

[2020-02-12 14:40] pvdbosch commented on #26
I've updated all schemas with types using regexp patterns to match the entire string values. Unlike XML Schema, `^` and `$` need to be specified explicitly in the regexp to match the start and end of the string.

Example:
   Both `"00000000196"` and `"abc00000000196xyz"` are valid for `pattern: '\d{11}'`.
   With `pattern: '^\d{11}$'`, only `"00000000196"` is valid.

[2020-02-13 09:04] jpraet commented on #25
I'm also encountering an issue with openapi-generator-maven-plugin 3.3.4 and a type definition called "File": the type is not generated, and the class referencing the type uses java.io.File instead. This is for an API for managing batch executions. I can work around it by using a different name like "BatchFile".

[2020-02-13 10:23] pvdbosch commented on #25
done some experimenting with "readOnly" parameter:
* it isn't supported in the UI of Stoplight, only in text mode
* in SwaggerUI, readOnly is only shown on properties with simple types, not on object types
* Java code generation ignores readOnly (tested openapi-generater 3.3 and 4.2)
* OpenAPI syntax gets a bit weird when using readOnly on a property with a $ref type (https://github.com/OAI/OpenAP

[2020-02-26 11:51] pvdbosch opened #55 "allow OpenAPI 3.0"
The claim in the guide that OpenAPI 3.0 isn’t supported yet in most tooling is outdated.  The API Gateway product that’s offered on gCloud doesn’t offer full support of OpenAPI 3.0 yet however but it is planned.
I don't think this should hold back those already ready for OpenAPI 3.0 however like FPS Mobility.
Customers of OpenAPI 3.0 could use [tools to convert to OpenAPI 2.0](https://stackoverflo

[2020-03-24 13:59] bertvannuffelen commented on #54
In https://data.vlaanderen.be/standaarden/standaarden-in-ontwikkeling/api-guidelines/api-guidelines-index.html
one can find a presentation containing a comparison between the different api-guidelines.

As one can see there is a lot of correspondence.
Sometimes small details differ. But the spirit is the same.

[2020-03-24 14:42] pvdbosch commented on #35
Jenkins is OK now. Did a new publication of the guide from GitHub sources using Jenkins.
Asked @wsalembi to archive old GitLab repo, then this issue may be closed.

Publication of the OAS schemas is continued in #27.

[2020-03-24 15:12] #35 closed

[2020-03-24 15:13] wsalembi commented on #35
old GitLab repo archived

[2020-03-25 11:45] pvdbosch commented on #54
After a quick look, these seem to be the incompatibilities with the most impact in descending order:
* use of null values (slide 28)
* hyphen-case in URL vs lowerCamelCase (slide 15)
* differences in representation of validation errors (slide 37)

Btw, slide 41: gCloud "Vermijd Vary: Accept" is incorrect. The gcloud guide mandates to use it when the API supports content negotiation. In other cases

[2020-03-25 12:54] bertvannuffelen commented on #54
The 'vary' case, indeed, a misreading from my site.

[2020-03-25 13:21] pvdbosch commented on #55
eHealth uses https://www.npmjs.com/package/api-spec-convert to convert from 2.0 to 3.0, because it gives better results with code generation

[2020-03-25 13:28] pvdbosch commented on #27
Chosen license: Apache License 2.0. Everyone that made commits should add a comment that they're OK to relicense with this license.

[2020-03-25 13:51] pvdbosch commented on #27
Preference to keep maven version in line with schema version.
Split up in separate github repos.

Separate github repos:

belgif-openapi-common-1.0.0.zip
    /common/v1/common-v1.yaml
    should not contain problem-v1.yaml (= dependency of common-v1.yaml)
belgif-openapi-problem
    /problem/v1/problem-v1.yaml
belgif-openapi-time
belgif-openapi-money

NOT belgif-openapi-common-1.0.0.yaml => problem

[2020-03-25 14:19] pvdbosch commented on #54
There's a next meeting on the differences between the guides organized by IV, to which we are invited. We can address the incompatibilities there.

[2020-03-25 14:20] pvdbosch commented on #33
work on eliminating incompatibilities is continued in #54

[2020-03-25 14:20] #33 closed

[2020-03-25 14:23] pvdbosch commented on #13
decision on WG: continue based on common parts of the microprofile Health/spring-boot standards

[2020-03-26 11:47] pvdbosch commented on #34
I removed the styleguidevalidation-rules (+ maven plugin) from the guide.

[2020-03-26 11:50] pvdbosch commented on #25
eHealth uses https://www.npmjs.com/package/api-spec-converter to convert from OpenAPI 2.0 to 3.0, because it gives better results with code generation. Some manipulation on its input 2.0 file may be required for it to work correctly.

[2020-03-26 11:51] pvdbosch commented on #55
updated master to allow OpenAPI 3.0

[2020-03-26 11:51] #55 closed

[2020-03-26 14:22] pvdbosch commented on #26
YearMonth type was validated in WG of March and promoted in the repo from v1beta to v1

[2020-04-06 07:52] wsalembi opened #56 "OpenAPI 3 : parameter serialization modes"
OpenAPI 3 adds multiple options to serialize JSON (primitive, array, object) in header, query parameters. Which ones do we want to follow?

https://swagger.io/docs/specification/serialization/

[2020-04-16 13:49] pvdbosch commented on #13
FYI, Spring Boot 2.3 will add specific support for liveness and readiness health checks: https://spring.io/blog/2020/03/25/liveness-and-readiness-probes-with-spring-boot

[2020-04-23 14:26] pvdbosch commented on #26
added proposition for a type Year in time-v1beta.yaml

[code]
I spotted also usage of integer for a year (in vehicle register API), but a string-based type would be more aligned with other time-related types.

[2020-05-05 08:38] wsalembi commented on #26
Didn't we only opt for string-based types if the prefix zero's were significant? I don't see why we should format a year without any separators and significant zero's as a string.

[2020-05-07 11:00] pvdbosch commented on #26
String-based was more to align it with OpenAPI time types based on [rfc3339](https://tools.ietf.org/html/rfc3339#section-5.6) which are string based and have a year part "0000" up to "9999". Conversion would be easier (just substring or concatenate) than for integer (int<>string conversion and 0-padding), but dunno if that's important enough.

[2020-05-08 15:19] pvdbosch commented on #39
My proposal:
* keep "type" as unique identifier of the kind of problem, as this is defined as such in RFC and also most commonly used as such
* for API-local types, use URNs instead of URLs, e.g. "urn:problem-type:cbss:ssinReplaced"
* add an optional "typeDoc" field which can be dereferenced for more information about the problem type, e.g. "typeDoc": "https://apis.acpt.ksz-bcss.fgov.be/my-api/v1/

[2020-05-11 07:31] jpraet commented on #25
Up until openapi-generator 3.3.4, InvalidParamProblem extends Problem in the generated code.
As of 4.0.0 it uses composition. Then in 4.3.0 it went back to inheritance, and in 4.3.1 they ["fixed that regression"](https://github.com/OpenAPITools/openapi-generator/issues/5876) and went back to composition.

The spec says that [allOf is intended for model composition, and does not imply a hierarchy b

[2020-05-11 15:36] pvdbosch commented on #36
I agree that Problem types could be standardized for:
* 412 Precondition Failed - for use case Optimistic Locking #37 - https://www.gcloud.belgium.be/rest/problems/preconditionFailed
* 500 Internal Server Error - because it can be useful to provide additional details in the Problem JSON body - https://www.gcloud.belgium.be/rest/problems/internalServerError

For 405 Method Not Allowed, 406 Not Acce

[2020-05-15 14:13] smals-vea opened #57 "Schemas voor BeSt address"
Voor de BeSt Address, zullen we een reusable schema voorstellen?
zoals bvb:
Address
- streetName (max 300?)
- houseNumber (max 12)
- boxNumber (max 10)
- municipalityName (max ?) (en niet postName zoals soms sommige denken dat het beter/juist is )
- postCode (max 15, BE max 4)
- ....
Wat zou er in zo’n adres moeten staan: alleen de adres-representatie? Of ook de BeSt IDs voor adres, straat, gemee

[2020-05-18 19:14] pvdbosch commented on #27
Preview release of openapi-problem, built with GitHub actions:
Current state:
* separate GitHub projects for openapi-common and openapi-problem created
* openapi-common is built using dependency on openapi-problem, [sources](https://github.com/belgif/openapi-common), example artifact:
[belgif-openapi-common-1.0.0-SNAPSHOT.zip](https://github.com/belgif/rest-guide/files/4646160/belgif-openapi-commo

[2020-05-19 10:33] pvdbosch opened #58 "Country ISO codes data types"
Which country ISO codes do we want to include in our schemas?

* ISO 3166-1 alpha 2: for country names (current only)
  * most used internationally
  * limitations:
    * meaning of a code can change over time (can be reused for new country after x years)
    * change when country renamed
    * only exist from 1974 onwards
    * should not be used for former countries

* ISO 3166-1 numeric-3: for

[2020-05-26 07:33] pvdbosch commented on #41
rest guide currently says about "apiName":

Name of the API that groups a functional consistent set of resources. The API name consists of one or multiple path segments written in lowerCamelCase (example: /referenceData/geography).

[2020-05-26 08:55] VirginieHayot commented on #24
**REQUIREMENTS**
- Must be usable in both a broker architecure as a service architecture
- Reusable common schemas for different institutions

**OVERVIEW**
![image](https://user-images.githubusercontent.com/59567166/82880875-48b81100-9f3f-11ea-92db-28a83635ad58.png)

**REVIEW**

_event.json_

- Versioning?
- eventId = UUID, why so strict in schema?
- Publisher/creator URN, why enforce URN? Part of

[2020-05-26 15:47] pvdbosch commented on #25
I'll demo on the WG tomorrow a Java support library on which @jpraet is working on for CBSS. It may be interesting for others as well.

It provides:
* Exception types for each of the standardized gCloud problem types
* supports conversion to these types using Jackson
* for JAX-RS specifically:
  * creates Bad Request Problem responses automatically for Bean Validation errors compliant to the REST

[2020-05-26 16:22] pvdbosch commented on #24
Some thoughts:
* for both archetypes, at the very least an "eventId" and "eventType" (aka destinationTopic) would be needed
* the eventType could imply the JSON schema(s) and version of the payload instead of linking these to each event
  * [zalando](https://opensource.zalando.com/restful-api-guidelines/#_events_event_types_and_categories) makes distinction between event type metadata and event me

[2020-05-26 18:08] pvdbosch opened #60 "integer vs. string for numerical codes and identifiers"
During discussion of the representation of EmployerId (= nsso number + variants), the question surfaced if it shouldn't be represented by an integer instead of a string because in (human) input, the leading zeros are often omitted. The same could be said for EnterpriseNumber, where the first digit can be omitted if it is zero (the format doesn't permit two leading zeros).

One could also represent

[2020-05-27 11:52] bertvannuffelen commented on #54
Next session 9 june: https://dynamicforms.crmiv.vlaanderen.be/EventModule/Page/Show/ad923f45-869a-46ab-bc43-f62f6a887e25?PreFillIds=d35997ca-cc41-ea11-a812-000d3ab7be54%2c92660270-159c-ea11-a812-000d3ab7b5a7&_cldee=YmVydC52YW4ubnVmZmVsZW5AdGVuZm9yY2UuY29t&recipientid=contact-cdf82105fc7ae411b1876c3be5beee80-0f14a6a172ab4161b9a81c59eac644d8&esid=ff8a6862-249c-ea11-a812-000d3ab7b5a7

[2020-05-27 12:09] bertvannuffelen commented on #60
When it comes to identifiers I think we cannot treat them as numericals by default. I think we should always treat them as a character sequence.

Operations like +, -, *, /, mod are not defined for identifiers. So we should not treat them as numericals.
If identifiers have some internal structure like containing a checksum, then this can be expressed somehow. That is then an operator for that kind

[2020-05-27 12:55] bertvannuffelen commented on #24
In the second OSLO session on API guidelines the challenge of data synchronisation has been sketched and introduced:

- https://data.vlaanderen.be/standaarden/standaarden-in-ontwikkeling/api-guidelines/api-guidelines-index.html

- https://data.vlaanderen.be/standaarden/standaarden-in-ontwikkeling/api-guidelines/OSLO%20API%20Guidelines%20-%20Workshop%202%2019_03_20%20-%20Verslag.docx

- https://dat

[2020-05-27 13:15] pvdbosch commented on #27
We'll go ahead with the current version, keep problem and common separate.
New issue to be created to publish the files on https directly.

[2020-05-27 13:21] pvdbosch commented on #54
https://data.vlaanderen.be/standaarden/standaarden-in-ontwikkeling/api-guidelines/api-guidelines-index.html has two presentations (werkgroep 1 on REST standards, 2nd on data sync/events). Security werkgroep is being prepared.

[2020-05-27 13:28] pvdbosch commented on #19
work is in progress, cutting socsec (Smals)-specific dependencies

[2020-05-27 13:46] pvdbosch commented on #13
degraded/warn status is being discussed in microprofile health: https://github.com/eclipse/microprofile-health/issues/130

[2020-05-27 14:03] pvdbosch commented on #26
We'll convert Year to integer:

Year:
  type: integer
  minimum: 1
  maximum: 9999

[2020-05-27 14:32] pvdbosch commented on #60
WG - we need to decide:
* either string with leading zeros mandatory
* or integer (implying optional leading zeros)

Smals currently uses integer types for SOAP services when leading zeros
Christophe (SFPD): mandatory length 10 for cbe number is handy to avoid having to count the number of digits to distinguish between enterprise and establishment unit.

[2020-05-27 16:57] pvdbosch opened #61 "publish gCloud common OpenAPI documents on https URLs"
Publish the gCloud OpenAPI schemas on https URLs, so they can be used without downloading and extracting a zip file.

To publish them on the gcloud (or belgif.be?) site in both YAML and JSON and with an index page, it would be easier to publish it using a dynamic application (e.g. JBoss using JAX-RS) rather than static pages. They should be published from the same sources on GitHub (either using G

[2020-05-27 17:17] pvdbosch commented on #19
@wsalembi , can you attach the swagger file of the demo API?

[2020-06-02 07:38] pvdbosch commented on #24
OpenAPI 3.1 will support specifying schemas for webhooks: https://github.com/OAI/OpenAPI-Specification/blob/v3.1.0-dev/versions/3.1.0.md#oasWebhooks

[2020-06-19 13:16] pvdbosch commented on #56
I guess "explode: true" shouldn't be used with spaceDelimited and pipeDelimited.
"OpenAPI spec":https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#style-examples doesn't specify this, only the swagger doc but doesn't make much sense.

[2020-06-19 19:23] pvdbosch commented on #56
My proposition...

For query params:
* use defaults (style: form, exploded: true).
  * This is compatible with our current guidelines for primitive values and arrays/multi-valued.
* perhaps recommend against using object types?
  * seems like a pain for tooling (probably don't support this form of (de)serialization) and is complex to interpret for users
  * for use cases at CBSS where querying has

[2020-06-24 12:07] VirginieHayot commented on #24
**Interesting links from these presentations:**
JSON based
* https://jsonfeed.org/version/1

XML based
* https://en.wikipedia.org/wiki/Atom_(Web_standard)
* https://tools.ietf.org/html/rfc5023
* https://validator.w3.org/feed/docs/atom.html

* https://validator.w3.org/feed/docs/rss2.html#whatIsRss

[2020-06-26 12:42] pvdbosch opened #62 "new types: BelgianRegionCode, Nace2008Code"
add new common types based for BelgianRegionCode and Nace2008Code based on (new) fedvoc list.

BelgianRegionCode is BE-specific subset of RegionCode from fedvoc.

[2020-07-01 09:20] pvdbosch commented on #27
I got a suggestion from @jpraet to prefix dir structure with /belgif/ to avoid collisions with other schemas + added benefit that it's easier to configure in a build (add entire /belgif directory to .gitignore instead of several ones, and configure them in 'mvn clean').

Alternative is a full reverse DNS layout (/io/github/belgif/belgif/openapi/problem/v1/problem-v1.yaml), but that might be too ma

[2020-07-06 13:34] bertvannuffelen commented on #24
A validator for cloudevents: https://joinup.ec.europa.eu/solution/interoperability-test-bed/news/new-cloudevents-validation-service

[2020-07-21 21:03] derekm commented on #13
Hi! I was happy to stumble across this thread about monitoring guidelines for REST standards within Belgium!

Everyone is still tending to hand roll their own Health systems, and common elements beyond HTTP status codes and liveness/readiness groups (thanks, k8s!) have been hard to come by or slow to emerge.

There is some momentum to standardize Health check responses, and I think it is much need

[2020-08-17 11:48] pvdbosch commented on #27
The schemas have been moved to other openapi-* github repos under belgif, one per (sub)domain. Openapi 3.0 versions have been added as well. The builds produce zip files named openapi-<domain>-<version>-swagger-2.0.zip and openapi-<domain>-<version>-openapi-3.0>.zip

[2020-08-17 13:09] pvdbosch commented on #26
Issues on schemas moved to individual repos. Overview project board: https://github.com/orgs/belgif/projects/1

[2020-09-08 10:14] pvdbosch commented on #40
Reviewed changes in PR #64 :
* OPTIONS, to retrieve list of allowed HTTP methods, could also apply to Controller. Should status code 200 be removed? Probably always 204 No Content.
* some minor remarks on the structure:
  * we still have quite a bit duplicated info on status codes. Maybe remove the status codes list from the HTTP methods section? The bits that aren't already elsewhere in the docum

[2020-09-08 11:52] smals-chlo commented on #40
Hello @pvdbosch ,
Thank you for the remarks.

- _OPTIONS, to retrieve list of allowed HTTP methods, could also apply to Controller_ --> OK, I will adapt.
- _OPTIONS: Should status code 200 be removed? Probably always 204 No Content_--> Response payload is possible to be sent with OPTIONS, so I think 200 could be used as well.
- _we still have quite a bit duplicated info on status codes_ --> It see

[2020-09-08 13:40] pvdbosch opened #65 "removing selection of items from a collection"
validate proposed changes in PR #64 about DELETE on a collection to remove a selection of items

[2020-09-08 16:59] pvdbosch commented on #13
Hi @derekm , we're seeing three use cases requiring different types of health checks:
1) for use by k8s liveness (is the pod healthy) and readiness probes (should traffic be routed to the application)
2) report to a monitoring system if the application is alive and functioning properly
   - if down or degraded, it can still be useful to report UP to the k8s readiness probe, so the application can

[2020-09-08 17:14] pvdbosch commented on #13
I updated the PR #51 a bit:
* mentioned that status may be extended with other values than the three standardized ones
* explained the bit about component-level details being not included in the standard (because internal) and removed to "scope:health" because that's not in the Swagger anymore and internal to an organization

The PR for the Swagger/OpenAPI files is in https://github.com/belgif/ope

[2020-09-09 08:58] pvdbosch commented on #26
All type descriptions in Swagger are now aligned with the fedvoc Excel file. Only cbeNumber description still needed to be changed.

[2020-09-09 09:25] pvdbosch commented on #36
At CBSS, we're using     502 - https://api.ksz-bcss.fgov.be/rest/problems/badGateway
for problems when a CBSS API is a proxy to an external 3rd party API and that API is down. Maybe candidate to standardize as well?

[2020-09-09 11:56] wsalembi commented on #19
This is the API definition currently

[swagger.zip](https://github.com/belgif/rest-guide/files/5194933/swagger.zip)

[2020-09-09 12:18] pvdbosch commented on #27
decided on WG 09/09/2020:
* drop "-3.0" and "-2.0" from openapi/swagger classifier and dir structure
* add belgif as root dir in zip

[2020-09-09 12:25] pvdbosch commented on #19
* /doc/schemas/{name} can be removed
* align terminology:
  * cbeNbr => enterpriseNumber
  * companies => ?
  * nssoNbr => employerId
* validate swagger by other WG members

Future:
* make publicly available
* add other operations/features that illustrate the REST guide

[2020-09-09 14:02] pvdbosch commented on #36
add types for 500 and 502 is OK.

will check for other use cases in list of Smals problem types

[2020-09-09 14:57] #24 closed

[2020-09-09 15:31] pvdbosch commented on #13
both PRs are merged. Will be published in next version of guide; probably by end or this week or beginning of next week

[2020-09-09 15:31] #13 closed

[2020-09-09 15:32] pvdbosch commented on #65
changes approved on WG. Keeping open until PR merged, which first needs some other changes (see #40).

[2020-09-09 15:49] smals-chlo commented on #36
In fact, in the Rest Guide there is a standardized problem type for 429 Too Many Requests:
https://www.gcloud.belgium.be/rest/#too-many-requests.
I am a bit confused about tooManyFailedRequests --> Do they need to be failed for a 429 to happen? Or just Too Many (failed or not) :
   _The 429 status code indicates that the user has sent too many requests in a given amount of time._

[2020-09-09 16:29] pvdbosch commented on #36
The use case is probably that the server enforces quota per user on number of requests, and an additional lower quota on number of failed requests.
When a user sends a lot of requests that are refused it may indicate a DOS attack or hacking attempt.
In both cases, Smals uses 429 but with the Problem JSON payload to indicate the difference.
But it would make sense then to use a different problem ty

[2020-09-09 16:32] pvdbosch commented on #36
created PR #66 to add the four new problem types

[2020-09-09 18:15] pvdbosch commented on #24
merged PR with CloudEvents. For further standardization other issues can be opened. We probably best wait until we a WG member has gathered more real-world experience.

[2020-09-09 18:25] pvdbosch commented on #26
Further followup of all openapi schema-related issues will be done using project board: https://github.com/orgs/belgif/projects/1
Closing this issue.

[2020-09-09 18:25] #26 closed

[2020-09-14 07:50] smals-chlo commented on #13
Hello @pvdbosch ,
Thank you for publishing the healthcheck guidelines.
However, it was pointed out by Wouter Roose that this link is broken:
common-v1.yaml (https://github.com/belgif/openapi-common/blob/master/src/main/swagger-2.0/common/v1/common-v1.yaml)
Can you please adapt?

[2020-09-14 08:14] pvdbosch commented on #13
Hi @smals-chlo, thanks for reporting. The links for all swagger files were broken because the directories "swagger-2.0" were renamed to "swagger" (#27). I've updated and published the rest guide to fix this.

[2020-09-17 14:13] smals-chlo commented on #13
Hi @pvdbosch,
During the Rest group today, we discovered that 500 as response code is not documented in the guidelines for "18. Health".
It is present in the common-v1.yaml.
Can you also add it?

        "500":
          description: The service cannot generate a health response.
          schema:
            $ref: "../../problem/v1/problem-v1.yaml#/definitions/Problem"

[2020-09-18 14:36] pvdbosch opened #67 "representing non-API-specific problems and headers in OpenAPI"
_non-API specific problems_

These responses may or may not have a Problem response payload.

Examples:
* 500 Internal Error - unexpectedly failure
* 502 Bad Gateway
* 400 Bad Request when request isn't valid wrt OAS spec.
* 401 / 403  AuthN/AuthZ problems
* 404 resource not found for path not defined in OAS
* 413 payload too large

How to represent this in OpenAPI/Swagger?
1) add Problem response

[2020-09-18 14:37] pvdbosch commented on #13
I think we can generalize in a broader scope than Health: any API operation can always fail unexpectedly and return 500 response. Not being able to generate a health response is just a specific occurrence of this.

And then we can discuss if such unexpected failures should or shouldn't be represented in OpenAPI/Swagger => created #67 on this.

[2020-09-21 10:09] smals-chlo commented on #65
Hello @pvdbosch ,
I have made the adaptations from the Rest Design Workgroup of 9/9 and also from the comments of Smals Rest last week.
Can you make a final review?
FYI: @wsalembi

[2020-09-21 10:09] smals-chlo commented on #40
Hello @pvdbosch ,
I have made the adaptations from the Rest Design Workgroup of 9/9 and also from the comments of Smals Rest last week.
Can you make a final review?
FYI: @wsalembi

[2020-10-01 14:07] wsalembi opened #68 "Consistent uri notation in examples"
Some examples use absolute URIs, others are abbreviated. We added a note (For brevity most URIs in examples are shortened, but in practice URIs should be in absolute notation.) at the start of the style guide but it isn't ery explicit.

Decide approach and adapt examples.
Perhaps synchronized with the publication of our demo API on internet.

[2020-10-01 17:43] pvdbosch commented on #68
Syncing the URIs with the demo API was indeed the plan, as mentioned in #19 :

 "Examples in the styleguide should be replaced with samples from the REST mock API; and using full URLs instead of relative ones."

[2020-10-02 11:04] smals-chlo commented on #40
Hello @pvdbosch ,
Have you seen my previous comment?
Are you waiting something from me?

[2020-10-05 09:07] pvdbosch commented on #40
Hi @smals-chlo , seen the comment but haven't gotten around to it yet. Still on my todo-list.

[2020-11-03 16:54] pvdbosch opened #69 "complex query conditions"
When searching on a collection, the conditions specified as query parameters all have to be true ("AND").

There may be a need to combine multiple conditions differently, i.e. with OR logic or dynamically based on user input.

E.g. OR(condition1, NOT(condition2), AND(condition3, condition4))

How can we represent this in a REST query?

[2020-11-03 17:09] pvdbosch commented on #69
I created this issue based on my notes from last WG, but don't remember who brought it up.

@wsalembi , @smals-chlo , did this come from Smals? If so, is the description correct and did you already think about any possible solutions?

We already discussed this a bit in #18 , but only wanted to include the simple query parameter cases at the time (but that also got stalled).
We talked about using a

[2020-11-03 17:17] pvdbosch commented on #27
Status update:
* changes discussed on WG 9/9 have been performed (belgif root dir, dropped -3.0/-2.0 suffixes from classifiers and dir structure)
* all openapi-* projects under belgif can be built with maven
* TODO: configure their builds with GitHub Actions and publish artifacts on maven central

[2020-11-03 17:42] pvdbosch commented on #19
I did a review of the Swagger:

* beginDateGT => beginDate_gt cfr #18 (guideline not published yet, but was confirmed a long time ago in WG)
* names and types:
  * various fields to align with fedvoc, like zipCode => postCode and nossNbr => employerId. I think you can let Veronique review this to get a full list. There's an EmployerId field in openapi-employment-identifier (but still in beta).
  *

[2020-11-04 09:34] #40 closed

[2020-11-04 09:36] pvdbosch commented on #65
merged PR, I'll publish new guide today

[2020-11-04 09:36] #65 closed

[2020-11-04 10:20] smals-chlo commented on #40
I see that the changes are published now in the REST Guidelines, thanks @pvdbosch!

[2020-11-04 10:31] smals-chlo commented on #19
Hello @pvdbosch,
Thank you for the remarks.
I have started working on the improvement of the Swagger and will also take your remarks into account.
- changed nssoNumber to employerID
- changed cbeNbr to enterpriseNumber
- updated /health with new guidelines
- I have also added an operation DELETE /employers to show have to remove a (filtered) collection.

I will plan next week a meeting with Veroni

[2020-11-05 15:12] pvdbosch commented on #39
Did some research about what the specs say about URI vs relative URI:
* our openapi-problem schema is more restrictive than the Problem RFC, prohibiting relative URIs
* interpreting a relative URI as being relative to the base URL (defined in OpenAPI) instead of the request's URL deviates from the official standards. For other relative URLs in JSON responses this is also the case, but we recommend

[2020-11-16 13:39] pvdbosch commented on #25
In openapi-generator 4.x, using allOf like below seems to get the desired result with inheritance:
[code]
Still seems like a deprecated behavior that might change in openapi-generator 5.x.
We'll change InvalidParamProblem to use this type of definition. It seems equivalent according to OpenAPI spec, but gives better results for code generation.

[2020-11-25 13:55] pvdbosch commented on #69
Is it a common use case? Is REST a good fit for this kind of scenario? Do you want to push this query complexity to the client?
Perhaps other alternatives are a better fit (e.g. SPARQL).

Other issue: how should query params be interpreted?
* when combining different query params (AND?)
* How should multi-valued query params be interpreted?

=> split in two issues

[2020-11-25 14:00] pvdbosch commented on #68
will be taken up in #19, closing this one

[2020-11-25 14:00] #68 closed

[2020-11-25 14:48] pvdbosch commented on #36
I'll add problem types to guide:

429 gcloud.../problems/tooManyRequests
      gcloud.../problems/tooManyFailedRequests
413 payloadTooLarge

[2020-11-25 17:55] pvdbosch commented on #25
REST WG is OK with the change in previous comment of the InvalidProblem definition.

Examples of use of "allOf" and "properties" as sibling elements seem to be supported by JSON Schema, cfr examples in the standard:
* https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.appendix.D.2
* https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.appendix.E

OpenAPI 2.0 standard doesn'

[2020-11-26 18:16] pvdbosch opened #70 "interpretation of query parameters"
Specify in REST guide how search query parameters should be interpreted by default

* when combining different query params (AND?)
* How should multi-valued query params be interpreted? (OR?)

[2020-11-26 18:50] pvdbosch commented on #39
discussed on WG of November 2020, but no conclusion yet.
A summary of the discussion follows.

**Points raised**

1. if relative URIs are used in "type" (and "instance"), they should be resolved to get the full problem type identifier. This would lead easily to wrongly resolved problem types

For instance, when  `GET https://something.com/myapi/v1/employers/123` returns a Problem JSON with as "typ

[2020-12-01 13:43] pvdbosch commented on #36
PR #66 is ready for review

[2020-12-01 16:28] pvdbosch commented on #36
Four problem types have been added in PR #66 ; closing this issue.
A problem type for status 412 can be introduced as part of #37.

[2020-12-01 16:28] #36 closed

[2020-12-03 15:11] pvdbosch opened #72 "indicate one of a list of scopes are required [problems/missingScope]"
An API designer can allow access (specified in OpenAPI) to an operation if:
* all of multiple scopes is present in JWT
* one of multiple scopes is present
* any combination of the above

The missingScope problem type only allows for the first case:  "The requiredScopes property lists the required scopes."
Can we extend the problem type structure to also allow for the other cases?

OpenAPI even all

[2020-12-08 10:04] wsalembi opened #73 "Document select usage for collections"
select use case is described for Document resource but I think it also applies to Collection resources

[2020-12-08 10:33] pvdbosch commented on #73
I agree. Maybe move to Performance chapter, next to "embedding resources"?

[2020-12-11 09:33] pvdbosch commented on #27
The schemas are now built by GitHub Actions and are released on both GitHub and Maven Central thanks to @jpraet .

Build instructions can be found on https://github.com/belgif/openapi-common/blob/master/BUILDING.md
[GitHub repo starting page](https://github.com/belgif/rest-guide) has links to the latest release of each one of them.

Link to Maven Central: https://search.maven.org/search?q=g:io.git

[2020-12-21 11:15] pvdbosch opened #74 "Problem response for (non-schema) input validation"
The BadRequest problem type is now specific to input schema validation in the REST guide, i.e. used when "The consumer request is not conform to the Swagger specification of the API."

There is also a need to standardize on application-level input validation errors; e.g.:
* input query parameter refers to an unknown or otherwise invalid resource (e.g. SSIN is unknown, replaced or canceled)
* end d

[2020-12-21 14:59] smals-chlo commented on #19
[Swagger #19.zip](https://github.com/belgif/rest-guide/files/5724959/Swagger.19.zip)

Hello @pvdbosch , @wsalembi,

Thank you for your remarks.

Concerning the first part of this issue (example REST mock API), here is a summary of the changes that I made:

--> swaggerSuggestion.yaml
- New file to replace swagger.yaml
- Changed "cbeNbr" to "EnterpriseNumber", also description and type, pattern
- Ch

[2020-12-21 16:55] pvdbosch commented on #19
I got some broken references when opening swaggerSuggestion.yaml:

[code]

[2020-12-21 17:08] pvdbosch commented on #19
Some more feedback:
* response status codes should be string instead of number:
e.g. "200" instead of 200
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responses-object-example
* Could use /health path in common-v1.yaml instead of your own. Or at least use HealthStatus from common-v1.yaml (some tools have problems with referencing paths from common schema) and drop the p

[2020-12-24 14:53] smals-chlo commented on #19
[Swagger #19.zip](https://github.com/belgif/rest-guide/files/5739952/Swagger.19.zip)

Hello @pvdbosch

Thank you for the review.
OK, I fixed the broken references. (I use https://editor.swagger.io/ and didn't get an error about the broken references.)

About the other remarks:

- OK, I adapted /health & HealthStatus according to common-v1.yaml.
(At first, I copied the health from another project t

[2020-12-24 15:19] pvdbosch commented on #19
Hi, @smals-chlo , definition of status code as integer in the Problem JSON schema is OK, but in the Swagger schemas where you define the JSON schema for each response status code, it should be a string instead of integer.
The status code is a property name in this case, which should be a string.

cfr example in https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responses-obje

[2021-01-27 15:28] pvdbosch opened #75 "consistent use of charset in all JSON media types"
We've got a rule to "Always stick to UTF-8 encoding and specify the charset in the Content-Type HTTP header" but the charset isn't consistently added throughout the guide for all JSON media (sub)types.

We've got two choices: omit the charset everywhere or add it everywhere.

In this rule it is omitted:
[code]
And some examples omit the charset as well.

The JSON standard mandates UTF-8  -  https:

[2021-01-28 15:38] wsalembi opened #76 "Rule 9: Possibility to use select syntax also to add fields in the response, not normally returned"
This could be added as a clarification in Rule 9

[2021-01-28 16:05] pvdbosch commented on #76
do you have an example use case?

Is there any overlap with use of embedding? Can the resource representation still be kept consistent throughout POST/PUT/GET operations, or is it only advised to use on readonly resources?

[2021-01-28 16:48] jpraet commented on #75
On JBoss EAP 7.3 we observe that the server returns `Content-Type: application/problem+json` by default for a method annotated (openapi-generated code) with
[code]
when we don't explicitly specify a media type for our JAX-RS response, for request with `Accept: */*`.

If instead we configure
[code]
or
[code]
then it DOES return respectively `application/json;charset=UTF-8` and `application/json` by

[2021-01-28 20:42] pvdbosch commented on #75
I think according to the JEE spec, it's still up to the JAX-RS implementation in this case: both media types seem equally specific according to Step 7 (Sort M in descending order, with a primary key of specificity (n/m>n/*>*/*)) and q/qs-values aren't used, so they have an equal priority.
I read somewhere that Jersy implementation would pick the first media type in the annotation in this case, but

[2021-02-04 11:53] pvdbosch commented on #74
Related: also found that "422 Unprocessable Entity" is sometimes used for OpenAPI validation errors:
* https://stackoverflow.com/a/20215807/3779923
* https://tweakers.net/reviews/8630/6/de-openapi-standaard-apis-gebruiken-met-minimale-inspanning-validatie.html (NL, requires free account)

422 is defined in the WebDAV spec as:
[code]

[2021-02-15 15:10] smals-chlo commented on #19
Hi @pvdbosch , @wsalembi,

Here is the last version after the remarks:

[Swagger #19.zip](https://github.com/belgif/rest-guide/files/5982377/Swagger.19.zip)
It is also added on this page of the Rest group, so that Veronique can see it.
https://confluence.smals.be/display/REST/Swagger+Suggestion

[2021-02-23 16:17] pvdbosch commented on #73
Would the `select` query param on collections apply to the properties in the representation in "embedded" or to "items"?

[2021-02-23 18:08] #27 closed

[2021-02-23 18:18] pvdbosch commented on #75
If no significant real problems are known w/o the charset, I'd propose to drop it from the guide because:
* it doesn't have any significance according to the JSON RFC
* it's simpler without and often forgotten anyway

[2021-02-24 10:29] pvdbosch commented on #19
Hi @smals-chlo ,

can't the gcloud schema files be referenced as-is? I see their types are copied and split now across different yaml files.

This is an example of one our CBSS REST services where we use them:
[social-status-v2.zip](https://github.com/belgif/rest-guide/files/6035240/social-status-v2.zip)

We use maven to find the gcloud schemas from Maven Central and unpack them.

[2021-02-24 11:03] pvdbosch commented on #19
To make reviewing easier, I've uploaded the Swagger schemas to a dedicated repo: https://github.com/belgif/rest-guide-example
I'll put feedback in issues there, and stop reviewing it in this issue

[2021-02-24 13:46] pvdbosch commented on #60
If integer in URLs; multiple representations possible: /employers/0123456789 => should it redirect to /employers/123456789 to keep resource URI unique?

String for all numerical ids is a big departure from existing systems and habits (e.g. GenderCode)

[2021-02-24 14:46] pvdbosch commented on #39
My preference would be to maintain compliance with the Problem RFC and restrict our usage further to forbid relative URIs; avoiding complexity to resolve them correctly.

For problem type identifiers either:
* URLs can be used IF they can be kept stable and unique by its author (i.e. not dependent on domain name change, or environment in which API is deployed)
  * best compliant to ICEG URI-standa

[2021-02-25 13:39] pvdbosch commented on #76
Example:

GET /orders/1?select=orderLines

orderLines = child resource of orders

GET /orders/1/lines/1

Other use cases: calculated result, other referenced resource

other possibilities pros/cons?:
* embedded? (for other use cases than calculated)
* ?includeMyCalculatedValue=true

[2021-02-25 14:46] pvdbosch commented on #39
type should be a URI or relative URI that is env-independent string and stable over time

If it's a relative URL (starting with /) or absolute one, it should be dereferenceable.
If it's a URN, not dereferenceable.

type:
   type: string
   format: uri => format: uri-reference

[2021-02-25 15:22] pvdbosch commented on #75
@wsalembi encountered some issues with a client (on old weblogic?) when Content-Type didn't mention the charset. Not sure how much this is still an issue on more recent software.
Smals doesn't specify the charset in the OpenAPI files because this caused problems for server software when matching with the "Accept" requested media type. Their server applications override the Content-Type generated b

[2021-03-15 14:57] pvdbosch commented on #39
summarized options in https://github.com/belgif/rest-guide/wiki/problem-type-identifiers , with trade-offs in the table at the end of the page

[2021-03-16 11:44] pvdbosch commented on #75
PR #77  ready

[2021-03-29 18:27] pvdbosch commented on #39
Results of dedicated meeting on problem type are on wiki:

* chosen solution: https://github.com/belgif/rest-guide/wiki/problem-type-identifiers#chosen-solution
* evaluation criteria: https://github.com/belgif/rest-guide/wiki/problem-type-identifiers#evaluation

[2021-04-22 11:55] hilsonp opened #78 "Typo in the REST Guidelines, Example 29. Resource links"
The Example 29. Resource links has an error in the $ref used for PersonReference

https://www.gcloud.belgium.be/rest/#links

  PersonReference:
    allOf:
      - "$ref": "./common/v1/common-v1.yaml/definitions/HttpLink"

MUST be

  PersonReference:
    allOf:
      - "$ref": "./common/v1/common-v1.yaml#/definitions/HttpLink"

[2021-04-22 15:57] pvdbosch commented on #78
thanks for reporting. Seems to be some asciidoc escaping issue because it's there in the source file ( https://raw.githubusercontent.com/belgif/rest-guide/master/src/main/asciidoc/hypermedia.adoc ). Will try to fix it.

[2021-04-22 17:33] pvdbosch commented on #78
It is fixed in the sources of the guide. Also reviewed and updated other $ref values used in examples.

It will be updated on the website when next update of the guide is published.

[2021-04-22 17:33] #78 closed

[2021-04-27 17:14] pvdbosch commented on #25
StopLight Studio is incorrectly listed as Open Source in the REST guide. Its GitHub repo only contains the documentation as open source, and binary releases.  So changing it to "Commercial editor with a free version".
They're capping max users and max projects in the free edition, but I think that's only about the "collaborative workspace" features.

[2021-04-28 10:52] pvdbosch opened #79 "representation of decimal numbers"
How to represent decimal numbers with fixed precision: as number or as string type?

For use in MonetaryAmount, see https://github.com/belgif/openapi-money/issues/2

For decimals with fixed precision:
* floating point numbers aren't advisable for money, because of [calculation errors](https://husobee.github.io/money/float/2016/09/23/never-use-floats-for-currency.html)
* in the wild, we encounter "

[2021-04-28 12:34] pvdbosch commented on #39
WG agreed on chosen solution. We'll document it with rationale for deviation from RFC standard.
We'll try to provide this feedback also to the RFC via appropriate channel.

[2021-04-28 17:56] pvdbosch commented on #74
Flanders is using a nested problem structure to represent this case, see
https://test.data.vlaanderen.be/doc/richtlijnen/iv-rest-api-richtlijnen/#api_design (pt 9 Validatie error payload)

Because the same requirements for input validation errors exist as generic problems, this would be interesting.
Note that our guide already supports a nested problem for long running tasks.

The example from the

[2021-04-29 09:11] pvdbosch commented on #79
The spec on number type: (JSON Schema refers to JSON RFC for this)

https://tools.ietf.org/html/rfc8259#section-6

* This specification allows implementations to set limits on the range and precision of numbers accepted.
* Since software that implements IEEE 754 binary64 (double precision) numbers is generally
   available and widely used, good interoperability can be achieved by implementations t

[2021-05-10 15:50] pvdbosch commented on #39
PRs !80 and https://github.com/belgif/openapi-problem/pull/3 ready for review

Not discussed in WG yet: !80 specifies `/refData/problemTypes/{problemType}` as URL-template for API-specific problem type doc

[2021-06-01 13:56] pvdbosch commented on #25
openapi-generator 5.x doesn't generate classes with inheritance anymore without use of discriminator. Seems no easy workaround for this, so we're sticking on 4.3 at CBSS. There's some ongoing discussion about this behavior change, and some other talk about creating openapi extension keywords to modify code generation for such cases.

We encountered another problem with JAX-RS/Jackson code generati

[2021-06-23 11:58] pvdbosch commented on #60
I'm writing an in-depth wiki page like for the problem type discussion: https://github.com/belgif/rest-guide/wiki/integer-vs.-string-for-numerical-codes-and-identifiers

[2021-06-23 14:55] pvdbosch commented on #75
PR merged and will be published in next REST guide update

[2021-06-23 14:55] #75 closed

[2021-06-23 15:18] pvdbosch commented on #39
reviewed together in WG. Merged - will be part of next guide update.

[2021-06-23 15:18] #39 closed

[2021-07-02 10:17] pvdbosch opened #81 "guidelines on new resource identifiers"
Guidelines when designing new resource identifiers from scratch.

Preparation: https://github.com/belgif/rest-guide/wiki/resource-identifiers

[2021-07-12 08:16] jpraet commented on #67
Question about whether or not to specify `BelGov-(-Related)-Trace-Id` HTTP headers in OpenAPI file also applies to `Accept-Language` HTTP header used for I18N.

[2021-07-12 13:50] jpraet opened #82 "create belgif-openapi-bom"
A [Maven BOM](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#bill-of-materials-bom-poms) could be created to keep the versions of the belgif-openapi types in synch.

It can be created here: https://github.com/belgif/openapi-bom

Some additional thought is required about the versioning of this BOM:

* we could increase the minor version each time the minor ve

[2021-08-05 08:24] pvdbosch opened #83 "problem type for 503 - Service Unavailable"
Standardize on a problem type for "503 - Service Unavailable"

Propoal below, with optional retryAfter like for 429. retryAfterSec doesn't make much sense here, so didn't include it.

`Retry-After: Wed, 05 Aug 2021 10:30:00 GMT`
[code]

Note: we should also add 429 in table for Retry-After header in https://www.gcloud.belgium.be/rest/#reserved-HTTP-headers and add the HTTP header in the [descripti

[2021-09-07 12:57] pvdbosch commented on #82
I see some potential maintenance problems if we create a BOM: if the use case is to easily let projects update to the most recent patch versions, and we have N belgif-openapi modules with each M major versions, we'd need to maintain MxN branches of the BOM.

If we don't maintain these branches in order to provide patches, we'd make updating more difficult. And unlike BOMs for libraries like spring

[2021-09-08 07:32] pvdbosch commented on #25
In Visual Studio Code, Code42's "OpenAPI (Swagger) Editor" plugin works quite well; it supports code completion, external refs and SwaggerUI preview.
Minor issue in SwaggerUI preview: external ref type names are shown with an escaped version of their full absolute path, so makes them a bit less readable.

[2021-09-08 12:34] pvdbosch commented on #83
proposal approved, we'll add multiple examples to the guide (available moment known/unknown, expressed in sec or date)

Retry-After header will be added to other similar problem types as well.

[2021-09-08 12:48] pvdbosch commented on #19
there's a new version of the contracts in OpenAPI 3 which we'll go ahead with.
There's a JAX-RS implementation of it not depending on internal Smals tooling.
Implementation will be kept private (because we don't want to standardize on coding), but API published publicly.

Next steps:
* update the contracts in rest-guide-example repo
* review and improve contracts
* adapt implementation and publish

[2021-09-08 15:38] pvdbosch commented on #70
WG participants are asked to bring up some real-word use cases by WG meeting of Oct 2021

[2021-09-10 13:58] pvdbosch commented on #60
Impact on existing openapi data types:
* EmployerId (beta) becomes integer

Unchanged:
* street and NIS codes in openapi-location (integer)
* GenderCode (integer)
* Ssin (string)

To discuss:
* EnterpriseNumber:  I think we can keep this as string. We sometimes see these in the wild without leading zero, but [KBO website](https://economie.fgov.be/nl/themas/ondernemingen/kruispuntbank-van/inschrijv

[2021-09-10 14:14] pvdbosch commented on #81
proposal in wiki was accepted on WG, and is part of PR #84

[2021-09-10 14:14] pvdbosch commented on #60
PR #84  with guide changes ready for review

[2021-09-10 15:18] pvdbosch commented on #83
linked pull request is ready for review

[2022-01-11 20:59] pvdbosch commented on #74
Added InputValidationProblem and InputValidationIssue to openapi-problem (https://github.com/belgif/openapi-problem/pull/4 - OpenAPI v3 only, I'll add Swagger once reviewed).

Notes:
* deprecated InvalidParamProblem and InvalidParam; to avoid creating a v2
* schema object names are InputValidationProblem/InputValidationIssue, nested problems have infix "input-validation" but the problem type is "u

[2022-01-12 10:43] pvdbosch commented on #79
I did some tests with code generation:
* `type: number` (without `format`) gets converted to:
** decimal in C#
** BigDecimal in Java
** number/Number in typescript/javascript (which is like a Java `double`)
* `type: string, format: decimal' gets converted to:
** Java: BigDecimal in Java using openapi-generator, String using swagger-codegen
** typescript: string
** couldn't test javascript (crashes

[2022-01-12 13:40] pvdbosch commented on #74
to specify invalid parameter name in case of body param, it can be difficult for implementations to construct JSON Path (like in example). This isn't currently a requirement in the guide however; so we can leave it open to the API provider.

[2022-01-12 14:36] pvdbosch commented on #79
proposition:
document in REST guide, when precision is important, to use this:
`
type: string
format: decimal
`
according to use case, a regexp pattern can be added to enforce digit pattern, number of digits before/after comma, ...

In openapi-money, for MonetaryAmount, use
`     type: string
      format: decimal # decimal is a custom format only supported in some tooling
      pattern: '^(\-|\+)

[2022-01-12 15:39] #81 closed

[2022-01-12 15:52] pvdbosch opened #89 "OpenAPI 3.1 support"
Track evolution to support OpenAPI 3.1.

We currently advise against OpenAPI 3.1 because it is not yet sufficiently supporting in industry tooling yet.
Once tooling has sufficiently evolved to support it, we should update the guide to support it.

Changes:
* The OpenAPI 3.1 Schema Object is a superset of JSON Schema, and thus fully compatible with it e.g. better support for nullable values.
* `for

[2022-01-13 11:19] pvdbosch commented on #74
PRs have been updated and are ready for review:
* https://github.com/belgif/openapi-problem/pull/4
* https://github.com/belgif/rest-guide/pull/87

[2022-01-13 12:00] pvdbosch commented on #79
did some more tests with codegen tooling; updated the above comment with results.

Seems like `type: string, format: number` is better supported than decimal format so I'll go with that.

[2022-01-13 15:05] pvdbosch commented on #79
PR ready for review: https://github.com/belgif/rest-guide/pull/90
The beta version of openapi-money can also be reviewed: https://github.com/belgif/openapi-money/blob/master/src/main/openapi/money/v1beta/money-v1beta.yaml

[2022-02-25 13:43] pvdbosch opened #91 "move REST guide to belgif.be"
1.  **done** configure build pipeline with GitHub actions => @pvdbosch
2.  **done** publish on belgif.be @barthanssens
3. **done** update references to the website:  @pvdbosch
* *done* on https://www.belgif.be/page/specifications.nl.html
* *done* in the guide itself:
  * README.md
  * throughout the guide; e.g. href values for problem examples
* *done* in openapi-problem and openapi-common (exampl

[2022-02-25 13:47] pvdbosch commented on #91
@barthanssens FYI, the [REST security guide](https://github.com/belgif/rest-security) will also need to be published on belgif.be at some point. It is currently still in draft and not yet published. It follows the same documentation structure (asciidoc) as this REST guide.

[2022-02-25 14:50] pvdbosch commented on #91
I set up a build with GitHub actions:
* to build locally, you can now simply execute `mvn` instead of `mvn site`. This will also create a zip with the htmls.
* there's a 'continuous integration' build on each repo change, and a 'release' build
  * example GitHub actions release (as zip): https://github.com/belgif/rest-guide/releases/tag/untagged-28ac8f043c72c6b43455 (draft release, requires GitHub

[2022-03-14 08:49] wsalembi opened #92 "Create resource: allow returning resource representation"
https://www.gcloud.belgium.be/rest/#create-resource

AS-IS: The response contains an empty body.

TO-BE: The response either contains an empty body or the representation of the created resource.

[2022-03-16 08:51] pvdbosch commented on #92
I agree to allow returning the resource.
Other REST guidelines:
* zalando: empty or created resource: https://opensource.zalando.com/restful-api-guidelines/#json-guidelines
* nationale bank belgië: should return created resource: https://github.com/NationalBankBelgium/REST-API-Design-Guide/wiki/CRUD-Create-Single-item
* Microsoft: may return "full metadata": https://github.com/Microsoft/api-guidel

[2022-03-16 13:51] pvdbosch commented on #34
Someone at Smals is working on this.

There's also a tool by the developers of the openapi-generator:
* https://openapitools.github.io/openapi-style-validator/
* https://github.com/OpenAPITools/openapi-style-validator

Haven't checked yet how good it fits our needs.

[2022-03-30 07:49] pvdbosch opened #94 "Naming of properties and types for codes"
When interpreting the current guidelines strictly, code porperties and types should be named "id".
This seems to be weird for readers, as "code" is more meaningful in these cases.  Should we allow "code" in the naming convention as well?

Example:
[code]
[code]

This naming follows from the naming convention of identifiers, and that codes are a special type of identifiers.

[code]

[code]

[2022-03-30 08:59] pvdbosch commented on #92
Conclusion of WG meeting 30/3, allow three response bodies:
* no response body
* partial resource (e.g. only generated resource identifiers)
* full resource

[2022-03-30 09:08] pvdbosch commented on #34
feedback from @wsalembi  and colleagues:

* Spectral: hard to bypass default checks, some guidelines cannot be expressed in spectral (e.g. check consistency between multiple elements in the OpenAPI file), another flavor of regexp that doesn't allow to express all types of lookups.
* openapi-style-validator: hardcoded rules, not really extensible. Not mature enough.
* Now working on a Java-based va

[2022-03-30 09:25] pvdbosch commented on #54
we should check if there are still any incompatibilities

[2022-03-30 09:42] pvdbosch commented on #69
Solution implemented in an api at smals was to use a controller dedicted for complex lookups, specifying all conditions in a JSON request body.

Closing issue for now. Can be reopened if there are more use cases, then some standardization can happen.

[2022-03-30 09:42] #69 closed

[2022-03-30 10:57] #74 closed

[2022-04-07 09:49] pvdbosch commented on #67
Related discussion in OpenAPI spec on global response definitions: https://github.com/OAI/OpenAPI-Specification/issues/521 ; hasn't reached a conclusion yet.

[2022-05-20 13:41] pvdbosch commented on #91
Updated the REST-guide master branch to reference to belgif.be instead of G-Cloud.
@barthanssens could you update the version on belgif.be?

Note that REST JSON responses conform to the REST guide may return links to the problem web pages part of the guide (e.g. "href": "https://www.belgif.be/specification/rest/api-guide/problems/missingScope.html"). So these URLs should remain functioning, i.e. a

[2022-05-23 09:11] barthanssens commented on #91
ok, belgif.be has been updated

[2022-06-15 08:37] pvdbosch commented on #79
pull request was review in WG of March, and merged

[2022-06-15 08:37] #79 closed

[2022-06-15 12:32] pvdbosch commented on #37
we can also document 428 - Precondition required https://httpstatus.in/428/ if ETag header is missing

[2022-06-15 12:56] pvdbosch commented on #34
Progress has been made on the Java-based validation tool that can be executed from a maven plugin. @wsalembi will share the tool and its code with the WG participants for early feedback. The tools allows for extension with custom rules or deactivation of built-in rules.

[2022-06-15 13:29] pvdbosch commented on #94
WG is OK with proposed change, I'll work on a PR.

[2022-06-22 08:51] pvdbosch commented on #91
@zebby76 , now that everything has been published on the new location, could you configure the redirection from https://www.gcloud.belgium.be/rest/ to https://www.belgif.be/specification/rest/api-guide/ ?

[2022-06-23 06:46] zebby76 commented on #91
@pvdbosch , redirection has been implemented :

[code]

[2022-06-23 11:41] pvdbosch commented on #91
openapi-problem and openapi-common 1.2.1 were released; communication was done and link on G-Cloud page ( https://www.gcloud.belgium.be/nl/service/detail/fsp ) was updated.

L&F can be updated at any time by BOSA; not blocking. We can consider this task as complete then.

[2022-06-23 11:41] #91 closed

[2022-06-23 12:41] wsalembi opened #96 "Doc resource SHOULD be non-secured"
Add a small addition to https://www.belgif.be/specification/rest/api-guide/#doc-resource

The standard resource /doc/swagger.yaml can be defined as a non-secure resource. Make sure the specification only contains publicly available documentation (no sensitive, personal or secret data) and is only exposed to the access channel (INTERNET, EXTRANET, INTERNAL) where the API is hosted. (cfr Application

[2022-07-18 14:33] pvdbosch commented on #21
an update on the W3C Trace Context spec:
* it's become a W3C Recommendation
* specifies some similar privacy and security (DoS) considerations. As a countermeasure, a trace can be restarted
* the [draft next version of the spec](https://w3c.github.io/trace-context/#restarted-trace) defines a `traceresponse` in which a server can return its own trace id different from the client's

There also exist

[2022-09-13 15:32] pvdbosch commented on #96
Should this apply to the whole of /doc/* ?

Maybe it's a business decision up to providers to only expose its API documentation to users with a specific role (e.g. hide deprecated versions, targeted information, ...) vs. openness (API economy). Restricting access to EXTRANET or INTERNAL access channel is just one way of limiting access to a group of users IMO.

Mentioning access channel in the gui

[2022-09-14 11:57] pvdbosch commented on #94
Discussion was reopened.

To recap:

Goal: naming guidelines for properties and types for codes

Semantic standards (RDF, Skos etc):
* a ConceptScheme is a scheme that defines how to represent a certain property
  * ~ to a code list for a property
* a Concept defines the meaning of a single value (code). It defines both to the unique technical representation (URI, code) as its description (label i

[2022-10-26 13:06] pvdbosch commented on #96
we can remain more general in the guide:
Access should at least be allowed to /doc/* content to any (potential) user of the API

[2022-10-26 13:15] pvdbosch commented on #96
I'll create a PR for this change

[2022-10-26 13:28] pvdbosch commented on #34
first versions of validation tool are released, internally on git/artifactory gcloud. CBSS is interested to take a look at it, and perhaps contribute.

(there's also an openapi diff tool in development)

[2022-10-26 14:04] pvdbosch commented on #67
for generic problems:
* defining problem for each status code is too verbose/cluttered => discarded
* omitting generic problems: could cause compatibility issues with openapi validators on reponse (e.g. atlassian openapi validator)
* "default" or "4xx"/"5xx"? => more compatible; "4xx"/"5xx" is correcter but more verbose while not preventing many real-life issues

=> preference of WG to use "defaul

[2022-10-26 14:05] pvdbosch commented on #67
for headers: don't specify them; only operation/logic-specific headers (like ETag)

[2022-10-28 08:33] pvdbosch commented on #92
PR was merged and being published

[2022-10-28 08:33] #92 closed

[2022-10-28 13:22] pvdbosch commented on #96
PR #97 ready for review.

Also, some technical challenges with the doc resources were also brought up during WG, but won't be included in the guide because they can be product-specific:
* API Gateway may require to list all /doc/* resources in order to permit access to the resources. This can be doable for a single swagger/openapi file, but is harder for multi-file OAS files or nested child resour

[2022-11-02 14:40] gervaisb opened #98 "Usage of `-` and `+` for sort direction"
Defining a _sort_ parameter as an enum with `-` and `+` prefixes can break TypeScript clients. Enum values cannot start with those special characters and some generators sanitize those values by removing the unsupported prefixes. This lead to an enum with two identical values.

I agree that it is up to the generator to deal with those details. However, this can limit the usage of that pattern.

[2022-11-03 13:37] pvdbosch commented on #98
The guide can't ensure compatibility with every generator, but we do try to make it compatible with the most commonly used ones. We should test if this also causes problems for others, especially [openapi-generator](https://github.com/OpenAPITools/openapi-generator); but don't know yet when I'll get around to this.

Some guides (like [Zalando](https://opensource.zalando.com/restful-api-guidelines/

[2022-11-03 17:06] gervaisb commented on #98
I fully agree with you. However, I thought it would be worst saying it.

I liked the ‘-‘ and ‘+’ prefixes. But after hitting this issue and searching for alternatives it appears that ´_desc’ and ´_asc’ is more explicit, and possibly more compatible than the other.